/* line 12, ../sass/_base.scss */
.content-padding { max-width: 1032px; margin: 0 auto; }

/* Elements */
/* line 8, ../sass/elementpage.scss */
.element-list > [data-element-file] { padding-bottom: 24px; border-top: 1px solid #eeeeee; }
/* line 13, ../sass/elementpage.scss */
.element-list header { margin: 24px 0; }
/* line 16, ../sass/elementpage.scss */
.element-list header h2 { margin: 0 !important; }
/* line 23, ../sass/elementpage.scss */
.element-list header a { margin-left: 20px; }
/* line 25, ../sass/elementpage.scss */
.element-list header a:not(.permalink) { font-size: initial; }
/* line 31, ../sass/elementpage.scss */
.element-list .name { display: inline-block; }
/* line 33, ../sass/elementpage.scss */
.element-list .name code { white-space: nowrap; }
/* line 38, ../sass/elementpage.scss */
.element-list .nodocs { margin-left: 17px; font-style: italic; }
/* line 42, ../sass/elementpage.scss */
.element-list .nodocs:after { content: 'No documentation available.'; }
/* line 47, ../sass/elementpage.scss */
.element-list iframe { border: none; width: 100%; }
/* line 53, ../sass/elementpage.scss */
.element-list .bower_install_instructions, .element-list .api_documentation { display: block; }
/* line 55, ../sass/elementpage.scss */
.element-list .bower_install_instructions > label, .element-list .api_documentation > label { font-weight: 600; }
