@media only screen and (max-width: 580px) { /* line 6, ../sass/mobile.scss */
  #sidebar { position: static; width: auto; height: auto; }
  /* line 12, ../sass/mobile.scss */
  scroll-area[sidebar] { padding-left: 0; }
  /* line 16, ../sass/mobile.scss */
  scroll-area > article { padding-left: 35px; padding-right: 35px; }
  /* line 21, ../sass/mobile.scss */
  .main-bg .panel img { width: 200px; margin-right: auto; margin-bottom: 10px; }
  /* line 27, ../sass/mobile.scss */
  .panel { flex-flow: column; margin: 30px; }
  /* line 32, ../sass/mobile.scss */
  .panel summary + summary { margin-right: auto; margin-left: 0px; }
  /* line 37, ../sass/mobile.scss */
  .panel.left { padding: 80px 0px; }
  /* line 41, ../sass/mobile.scss */
  .panel.right summary { flex: 1; order: 2; }
  /* line 46, ../sass/mobile.scss */
  .panel.right img { order: 1; width: 200px; margin-right: auto; margin-bottom: 50px; margin-left: 0px; }
  /* line 54, ../sass/mobile.scss */
  #architecture .box { padding: 20px 24px 14px; }
  /* line 58, ../sass/mobile.scss */
  app-bar a { display: none; }
  /* line 62, ../sass/mobile.scss */
  .bar { height: 60px; }
  /* line 66, ../sass/mobile.scss */
  #future polymer-ui-toolbar button:nth-child(1) { display: none; }
  /* line 70, ../sass/mobile.scss */
  footer { padding: 65px 35px; }
  /* line 74, ../sass/mobile.scss */
  footer polymer-ui-toolbar { height: 170px; }
  /* line 78, ../sass/mobile.scss */
  footer polymer-ui-toolbar .paper-button { padding-bottom: 30px; }
  /* line 83, ../sass/mobile.scss */
  footer polymer-ui-toolbar.flexbox.align-center { -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; -webkit-box-align: flex-start; -webkit-align-items: flex-start; -moz-align-items: flex-start; -ms-align-items: flex-start; -o-align-items: flex-start; align-items: flex-start; -webkit-box-pack: flex-start; -webkit-justify-content: flex-start; -moz-justify-content: flex-start; -ms-justify-content: flex-start; -o-justify-content: flex-start; justify-content: flex-start; height: 170px; }
  /* Force table to not be like tables anymore */
  /* line 7, ../sass/_tables.scss */
  .responsive-table, .responsive-table thead, .responsive-table tbody, .responsive-table th, .responsive-table td, .responsive-table tr { display: block; }
  /* Hide table headers (but not display: none;, for accessibility) */
  /* line 12, ../sass/_tables.scss */
  .responsive-table th { position: absolute; top: -9999px; left: -9999px; }
  /* line 18, ../sass/_tables.scss */
  .responsive-table td { /* Behave  like a "row" */ position: relative; padding-left: 40%; }
  /* line 24, ../sass/_tables.scss */
  .responsive-table td:before { /* Now like a table header */ position: absolute; left: 0; width: 35%; padding-right: 10px; }
  /* line 32, ../sass/_tables.scss */
  .responsive-table tr td:last-child { border-bottom: 1px solid #eeeeee; }
  /* line 39, ../sass/_tables.scss */
  .expressions-table td:nth-of-type(1):before { content: "Feature"; }
  /* line 39, ../sass/_tables.scss */
  .expressions-table td:nth-of-type(2):before { content: "Example"; }
  /* line 39, ../sass/_tables.scss */
  .expressions-table td:nth-of-type(3):before { content: "Explanation"; }
  /* line 39, ../sass/_tables.scss */
  .attributes-table td:nth-of-type(1):before { content: "Attribute"; }
  /* line 39, ../sass/_tables.scss */
  .attributes-table td:nth-of-type(2):before { content: "Required?"; }
  /* line 39, ../sass/_tables.scss */
  .attributes-table td:nth-of-type(3):before { content: "Description"; }
  /* line 39, ../sass/_tables.scss */
  .lifecycle-table td:nth-of-type(1):before { content: "Spec"; }
  /* line 39, ../sass/_tables.scss */
  .lifecycle-table td:nth-of-type(2):before { content: "Polymer"; }
  /* line 39, ../sass/_tables.scss */
  .lifecycle-table td:nth-of-type(3):before { content: "Called When"; }
  /* line 39, ../sass/_tables.scss */
  .fouc-table td:nth-of-type(1):before { content: "Class Name"; }
  /* line 39, ../sass/_tables.scss */
  .fouc-table td:nth-of-type(2):before { content: "Applied Behavior"; } }
@media only screen and (min-width: 581px) and (max-width: 800px) { /* line 100, ../sass/mobile.scss */
  .main-bg .panel img { width: 300px; margin-right: auto; margin-bottom: 30px; }
  /* line 106, ../sass/mobile.scss */
  .panel.left img { margin-left: 0px; margin-right: auto; }
  /* line 111, ../sass/mobile.scss */
  .panel.right img { width: 300px; margin-right: 0px; margin-left: auto; }
  /* line 117, ../sass/mobile.scss */
  .panel { flex-flow: column; margin: 30px; }
  /* line 122, ../sass/mobile.scss */
  .panel summary + summary { margin-right: auto; margin-left: 0px; }
  /* line 127, ../sass/mobile.scss */
  #architecture .box { padding: 20px 24px 14px; } }
