/* line 12, ../sass/_base.scss */
.content-padding { max-width: 1032px; margin: 0 auto; }

/* line 3, ../sass/paper-button.scss */
.paper-button { display: inline-block; -webkit-transition: box-shadow 0.2s, background 0.2s; transition: box-shadow 0.2s, background 0.2s; border: none; cursor: pointer; overflow: hidden; position: relative; padding: 14px 14px 12px; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; outline: none; white-space: nowrap; font-size: 13px; line-height: 24px; letter-spacing: 0.06em; color: inherit; vertical-align: middle; font-weight: normal; text-transform: uppercase; }
/* line 28, ../sass/paper-button.scss */
.paper-button polymer-ui-icon { margin-right: 5px; }
/* line 32, ../sass/paper-button.scss */
.paper-button[borderless] { border: none; background: none; }
/* line 37, ../sass/paper-button.scss */
.paper-button:not([borderless]) { background: #fafafa; box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px; }
/* line 42, ../sass/paper-button.scss */
.paper-button:hover, .paper-button.active { text-decoration: none; background: #fff; box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0px rgba(0, 0, 0, 0.1); }
/* line 49, ../sass/paper-button.scss */
.paper-button[sink] { padding: 7px 10px; transition: none; }
/* line 53, ../sass/paper-button.scss */
.paper-button[sink]:hover, .paper-button[sink].active { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0.08))); background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.08) 40%); background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.08) 40%); background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.08) 40%); background: linear-gradient(top, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.08) 40%); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset, 0 -1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0px rgba(0, 0, 0, 0.2) inset; }
