/* line 3, ../sass/_typography.scss */
h1, h2, h3, h4, h5 { font-weight: 300; letter-spacing: -0.01em; line-height: 48px; margin: 0; }

/* @polyfill h1 */
/* line 12, ../sass/_typography.scss */
h1, ::content h1 { font-size: 40px; }

/* @polyfill h2 */
/* line 19, ../sass/_typography.scss */
h2, ::content h2 { font-size: 24px; }

/* @polyfill h3 */
/* line 25, ../sass/_typography.scss */
h3, ::content h3 { font-size: 20px; }

/* @polyfill h4 */
/* line 31, ../sass/_typography.scss */
h4, ::content h4 { font-size: 16px; font-weight: 600; }

/* @polyfill h5 */
/* line 38, ../sass/_typography.scss */
h5, ::content h5 { font-size: 12px; font-weight: 600; }

/* line 5, ../sass/polymer.scss */
.platform { color: #9f499b; }

/* line 10, ../sass/polymer.scss */
.elements-using { color: #5c6bc0; }

/* line 15, ../sass/polymer.scss */
.elements-creating { color: #d61a7f; }

/* line 20, ../sass/polymer.scss */
.main-bg { background-color: #eeeeee; }

/* line 24, ../sass/polymer.scss */
.main-purple { background-color: #1f2036; }

/* line 28, ../sass/polymer.scss */
code, pre { color: #9f499b; }

/* line 33, ../sass/polymer.scss */
.prettyprint { background-color: #fafafa; padding: 16px; margin: 30px 0; }
/* line 39, ../sass/polymer.scss */
.prettyprint .typ { color: #6b499f; }
/* line 43, ../sass/polymer.scss */
.prettyprint .pun { color: #5c6bc0; }
/* line 46, ../sass/polymer.scss */
.prettyprint .str { color: #ff4081; }
/* line 49, ../sass/polymer.scss */
.prettyprint .pln { color: #7986cb; }
/* line 52, ../sass/polymer.scss */
.prettyprint .kwd { color: #d61a7f; }
/* line 58, ../sass/polymer.scss */
.prettyprint .atn { color: #6b499f; }
/* line 61, ../sass/polymer.scss */
.prettyprint .atv { color: #7986cb; }
/* line 64, ../sass/polymer.scss */
.prettyprint .com { color: #8a8a8a; }
