/* line 3, ../sass/polymer.scss */
.platform { color: #9f499b; }

/* line 8, ../sass/polymer.scss */
.elements-using { color: #5c6bc0; }

/* line 13, ../sass/polymer.scss */
.elements-creating { color: #d61a7f; }

/* line 18, ../sass/polymer.scss */
.main-bg { background-color: #eeeeee; }

/* line 22, ../sass/polymer.scss */
.main-purple { background-color: #1f2036; }
