/* line 12, ../sass/_base.scss */
.content-padding, footer > :first-child { max-width: 1032px; margin: 0 auto; }

/* line 12, ../sass/_base.scss */
.content-padding, footer > :first-child { max-width: 1032px; margin: 0 auto; }

/* line 16, ../sass/spec.scss */
.meta { font-size: 12px; font-weight: normal; line-height: 20px; }

/* line 23, ../sass/spec.scss */
.secondary { font-size: 14px; font-weight: normal; line-height: 20px; }

/* line 30, ../sass/spec.scss */
body { font-size: 16px; font-family: "Open Sans", Helvetica, Arial, sans-serif; font-weight: normal; line-height: 24px; }

/* line 45, ../sass/spec.scss */
button { font-size: 12px; font-weight: normal; text-transform: uppercase; }

/* line 52, ../sass/spec.scss */
a { font-size: inherit; font-weight: normal; color: #3367d6; text-decoration: none; }

/* line 61, ../sass/spec.scss */
a:hover { text-decoration: underline; }

/* line 65, ../sass/spec.scss */
code, pre { font-family: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace; }

/* line 3, ../sass/_typography.scss */
h1, h2, h3, h4, h5 { font-weight: 300; letter-spacing: -0.01em; line-height: 48px; margin: 0; }

/* @polyfill h1 */
/* line 12, ../sass/_typography.scss */
h1, ::content h1 { font-size: 40px; }

/* @polyfill h2 */
/* line 19, ../sass/_typography.scss */
h2, ::content h2 { font-size: 24px; }

/* @polyfill h3 */
/* line 25, ../sass/_typography.scss */
h3, ::content h3 { font-size: 20px; }

/* @polyfill h4 */
/* line 31, ../sass/_typography.scss */
h4, ::content h4 { font-size: 16px; font-weight: 600; }

/* @polyfill h5 */
/* line 38, ../sass/_typography.scss */
h5, ::content h5 { font-size: 12px; font-weight: 600; }

/* line 5, ../sass/polymer.scss */
.platform { color: #9f499b; }

/* line 10, ../sass/polymer.scss */
.elements-using { color: #5c6bc0; }

/* line 15, ../sass/polymer.scss */
.elements-creating { color: #d61a7f; }

/* line 20, ../sass/polymer.scss */
.main-bg { background-color: #eeeeee; }

/* line 24, ../sass/polymer.scss */
.main-purple { background-color: #1f2036; }

/* line 28, ../sass/polymer.scss */
code, pre { color: #9f499b; }

/* line 33, ../sass/polymer.scss */
.prettyprint { background-color: #fafafa; padding: 16px; margin: 30px 0; }
/* line 39, ../sass/polymer.scss */
.prettyprint .typ { color: #6b499f; }
/* line 43, ../sass/polymer.scss */
.prettyprint .pun { color: #5c6bc0; }
/* line 46, ../sass/polymer.scss */
.prettyprint .str { color: #ff4081; }
/* line 49, ../sass/polymer.scss */
.prettyprint .pln { color: #7986cb; }
/* line 52, ../sass/polymer.scss */
.prettyprint .kwd { color: #d61a7f; }
/* line 58, ../sass/polymer.scss */
.prettyprint .atn { color: #6b499f; }
/* line 61, ../sass/polymer.scss */
.prettyprint .atv { color: #7986cb; }
/* line 64, ../sass/polymer.scss */
.prettyprint .com { color: #8a8a8a; }

/* line 10, ../sass/site2.scss */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 15, ../sass/site2.scss */
h2:target:before, h3:target:before, h4:target:before, h5:target:before { display: block; content: " "; margin-top: -70px; height: 90px; visibility: hidden; }

/* line 24, ../sass/site2.scss */
html, body { margin: 0; padding: 0; height: 100%; }

/* line 30, ../sass/site2.scss */
body { color: #444; }

/* line 36, ../sass/site2.scss */
img { max-width: 100%; }

/* line 40, ../sass/site2.scss */
pre, code { white-space: pre-wrap; word-wrap: break-word; }

/* line 45, ../sass/site2.scss */
ul, ol { padding-left: 0; }
/* line 48, ../sass/site2.scss */
ul li::before, ol li::before { content: '·'; color: #999999; margin-left: -15px; position: absolute; }
/* line 56, ../sass/site2.scss */
ul ul, ol ul { margin-left: 30px; }

/* line 61, ../sass/site2.scss */
ul { list-style: none; }

/* line 66, ../sass/site2.scss */
table.table { width: 100%; }
/* line 70, ../sass/site2.scss */
table.first-col-nowrap tr td:first-of-type { white-space: nowrap; }
/* line 74, ../sass/site2.scss */
table td { padding: 0; margin: 0; vertical-align: top; padding: 12px 12px 12px 0; }
/* line 81, ../sass/site2.scss */
table th { text-transform: uppercase; font-size: 14px; text-align: left; padding-right: 40px; border-bottom: 1px solid #eeeeee; font-weight: 600; line-height: 48px; }

/* line 92, ../sass/site2.scss */
b, strong { font-weight: 600; }

/* line 96, ../sass/site2.scss */
hr { border: none; border-bottom: 1px solid #eeeeee; }

/* line 102, ../sass/site2.scss */
dl dt { font-weight: 600; }
/* line 106, ../sass/site2.scss */
dl.horizontal dt { float: left; width: 160px; }

/* line 117, ../sass/site2.scss */
blockquote { padding: 0 0 0 15px; margin: 0 0 20px; border-left: 5px solid #eeeeee; }

/* line 123, ../sass/site2.scss */
summary { outline: none; }

/* Help catch template errors. */
/* line 128, ../sass/site2.scss */
.error { border: 3px solid red; background-color: rgba(255, 0, 0, 0.3); padding: 5px; }

/* line 134, ../sass/site2.scss */
.alert { color: #999999; border: 1px solid #eeeeee; font-size: 14px; padding: 10px 15px; }
/* line 140, ../sass/site2.scss */
.alert b, .alert strong { margin-right: 5px; }
/* line 146, ../sass/site2.scss */
.alert.alert-success b, .alert.alert-success strong { color: green; }
/* line 153, ../sass/site2.scss */
.alert.alert-info b, .alert.alert-info strong { color: #3367d6; }
/* line 160, ../sass/site2.scss */
.alert.alert-error b, .alert.alert-error strong { color: #ff4120; }

/* Remove empty p generated from markdown conversion. */
/* line 167, ../sass/site2.scss */
p:empty { display: none; }

/* line 170, ../sass/site2.scss */
a[disabled] { pointer-events: none; color: #ccc; }

/* -------------------------------------------------------------------------- */
/* line 12, ../sass/_base.scss */
.content-padding, footer > :first-child { max-width: 1032px; margin: 0 auto; }

/* line 3, ../sass/paper-button.scss */
.paper-button { display: inline-block; -webkit-transition: box-shadow 0.2s, background 0.2s; transition: box-shadow 0.2s, background 0.2s; border: none; cursor: pointer; overflow: hidden; position: relative; padding: 14px 14px 12px; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; outline: none; white-space: nowrap; font-size: 13px; line-height: 24px; letter-spacing: 0.06em; color: inherit; vertical-align: middle; font-weight: normal; text-transform: uppercase; }
/* line 28, ../sass/paper-button.scss */
.paper-button polymer-ui-icon { margin-right: 5px; }
/* line 32, ../sass/paper-button.scss */
.paper-button[borderless] { border: none; background: none; }
/* line 37, ../sass/paper-button.scss */
.paper-button:not([borderless]) { background: #fafafa; box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px; }
/* line 42, ../sass/paper-button.scss */
.paper-button:hover, .paper-button.active { text-decoration: none; background: #fff; box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0px rgba(0, 0, 0, 0.1); }
/* line 49, ../sass/paper-button.scss */
.paper-button[sink] { padding: 7px 10px; transition: none; }
/* line 53, ../sass/paper-button.scss */
.paper-button[sink]:hover, .paper-button[sink].active { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0.08))); background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.08) 40%); background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.08) 40%); background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.08) 40%); background: linear-gradient(top, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.08) 40%); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset, 0 -1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0px rgba(0, 0, 0, 0.2) inset; }

/* line 179, ../sass/site2.scss */
app-bar .paper-button { font-size: 14px; letter-spacing: normal; }

/* line 184, ../sass/site2.scss */
polymer-ui-icon { width: 24px; height: 24px; background-size: 48px !important; }

/* line 192, ../sass/site2.scss */
.bar { padding: 16px !important; height: 80px; }
/* line 197, ../sass/site2.scss */
.bar a { text-decoration: none; }

/* line 202, ../sass/site2.scss */
polymer-ui-toolbar { font: inherit !important; border: none !important; background: inherit !important; height: auto; color: inherit !important; }

/* line 211, ../sass/site2.scss */
.sticky { position: fixed !important; top: 0; width: 100%; }

/* line 218, ../sass/site2.scss */
.onlyonmobile { display: none; }

/* line 222, ../sass/site2.scss */
footer { position: relative; background-color: #fafafa; padding: 100px 0; padding-left: 64px; }
/* line 230, ../sass/site2.scss */
footer polymer-ui-toolbar { margin-bottom: 56px; }
/* line 234, ../sass/site2.scss */
footer .paper-button { margin-right: 30px; opacity: 0.6; color: black; }
/* line 245, ../sass/site2.scss */
footer #copyright { color: #b3b3b3; font-size: 14px; }
/* line 249, ../sass/site2.scss */
footer #copyright a { color: #666666; }

<<<<<<< HEAD
/* line 428, ../sass/site2.scss */
#content-container .article { margin-bottom: 2em; }
/* line 432, ../sass/site2.scss */
#content-container h2 { margin-top: 20px; }
/* line 435, ../sass/site2.scss */
#content-container h3 { margin-top: 15px; }
/* line 438, ../sass/site2.scss */
#content-container h4 { margin-top: 10px; }
/* line 442, ../sass/site2.scss */
#content-container scroll-area article header { margin-bottom: 24px; }

/* line 449, ../sass/site2.scss */
#sidebar { position: fixed; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); height: 100%; width: 265px; background-color: #eeeeee; box-shadow: rgba(0, 0, 0, 0.14902) 1px 1px 1px 0px; z-index: 10; }
/* line 472, ../sass/site2.scss */
#sidebar docs-menu { padding: 0 16px; }
/* line 476, ../sass/site2.scss */
#sidebar #logo-container { height: 80px; margin-bottom: 24px; padding-left: 16px; }

/* line 487, ../sass/site2.scss */
#welcome #sidebar { display: none; }

/* line 491, ../sass/site2.scss */
#dropdown-toggle { display: none; margin-top: -5px; opacity: 0.3; }

/* line 498, ../sass/site2.scss */
dropdown-panel { position: absolute; top: 75px; left: 15px; width: 240px; z-index: 1000; }

/* line 506, ../sass/site2.scss */
.edit-on-github { /*position: absolute;
top: 0;
right: 0;*/ float: right; }
/* line 512, ../sass/site2.scss */
.edit-on-github + * { clear: both; }

/* line 517, ../sass/site2.scss */
.permalink { display: none; margin-left: 5px; vertical-align: top; }

/* line 522, ../sass/site2.scss */
.has-permalink:hover .permalink { display: initial; }

/* line 525, ../sass/site2.scss */
.no-permalink .permalink { display: none !important; }

/* line 532, ../sass/site2.scss */
.forversion { float: right; color: #ccc; font-style: italic; }

/* line 537, ../sass/site2.scss */
.article .byline { font-size: smaller; color: #ccc; }

/* line 542, ../sass/site2.scss */
.author { margin-bottom: 20px; }
/* line 545, ../sass/site2.scss */
.author > p { display: inline-block; margin: 0; }
/* line 549, ../sass/site2.scss */
.author > p:first-of-type { vertical-align: top; }
/* line 554, ../sass/site2.scss */
.author img { border-radius: 7px; margin-right: 5px; height: 40px; width: 40px; }

/* Elements */
/* line 566, ../sass/site2.scss */
.element-list > [data-element-file] { padding-bottom: 24px; border-top: 1px solid #eeeeee; }
/* line 571, ../sass/site2.scss */
.element-list header { margin: 24px 0; }
/* line 574, ../sass/site2.scss */
.element-list header h2 { margin: 0 !important; }
/* line 581, ../sass/site2.scss */
.element-list header a { margin-left: 20px; }
/* line 583, ../sass/site2.scss */
.element-list header a:not(.permalink) { font-size: initial; }
/* line 589, ../sass/site2.scss */
.element-list .name { display: inline-block; }
/* line 591, ../sass/site2.scss */
.element-list .name code { white-space: nowrap; }
/* line 596, ../sass/site2.scss */
.element-list .nodocs { margin-left: 17px; font-style: italic; }
/* line 600, ../sass/site2.scss */
.element-list .nodocs:after { content: 'No documentation available.'; }
/* line 605, ../sass/site2.scss */
.element-list iframe { border: none; width: 100%; }
/* line 611, ../sass/site2.scss */
.element-list .bower_install_instructions, .element-list .api_documentation { display: block; }
/* line 613, ../sass/site2.scss */
.element-list .bower_install_instructions > label, .element-list .api_documentation > label { font-weight: 600; }

/* line 620, ../sass/site2.scss */
.onlyonmobile { display: none; }

/* line 624, ../sass/site2.scss */
#toc summary { font-size: 16px; font-weight: 600; }

/* Videos */
/* line 631, ../sass/site2.scss */
=======
/* line 256, ../sass/site2.scss */
#content-container .article { margin-bottom: 2em; }
/* line 260, ../sass/site2.scss */
#content-container h2 { margin-top: 20px; }
/* line 263, ../sass/site2.scss */
#content-container h3 { margin-top: 15px; }
/* line 266, ../sass/site2.scss */
#content-container h4 { margin-top: 10px; }
/* line 270, ../sass/site2.scss */
#content-container scroll-area article header { margin-bottom: 24px; }

/* line 277, ../sass/site2.scss */
#sidebar { position: fixed; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); height: 100%; width: 265px; background-color: #eeeeee; box-shadow: rgba(0, 0, 0, 0.14902) 1px 1px 1px 0px; z-index: 10; }
/* line 300, ../sass/site2.scss */
#sidebar docs-menu { padding: 0 16px; }
/* line 304, ../sass/site2.scss */
#sidebar #logo-container { height: 80px; margin-bottom: 24px; padding-left: 16px; }

/* line 314, ../sass/site2.scss */
.edit-on-github { /*position: absolute;
top: 0;
right: 0;*/ float: right; }
/* line 320, ../sass/site2.scss */
.edit-on-github + * { clear: both; }

/* line 325, ../sass/site2.scss */
.permalink { display: none; margin-left: 5px; vertical-align: top; }

/* line 330, ../sass/site2.scss */
.has-permalink:hover .permalink { display: initial; }

/* line 333, ../sass/site2.scss */
.no-permalink .permalink { display: none !important; }

/* line 340, ../sass/site2.scss */
.forversion { float: right; color: #ccc; font-style: italic; }

/* line 345, ../sass/site2.scss */
.article .byline { font-size: smaller; color: #ccc; }

/* line 350, ../sass/site2.scss */
.author { margin-bottom: 20px; }
/* line 353, ../sass/site2.scss */
.author > p { display: inline-block; margin: 0; }
/* line 357, ../sass/site2.scss */
.author > p:first-of-type { vertical-align: top; }
/* line 362, ../sass/site2.scss */
.author img { border-radius: 7px; margin-right: 5px; height: 40px; width: 40px; }

/* line 371, ../sass/site2.scss */
#toc summary { font-size: 16px; font-weight: 600; }

/* Videos */
/* line 378, ../sass/site2.scss */
>>>>>>> master
.video iframe { width: 853px; max-width: 100%; height: 480px; }

/* line 12, ../sass/_base.scss */
.content-padding, footer > :first-child { max-width: 1032px; margin: 0 auto; }

/* line 3, ../sass/mobile.scss */
#dropdown-toggle { display: none; margin-top: -5px; opacity: 0.3; }

/* line 10, ../sass/mobile.scss */
dropdown-panel { position: absolute; top: 75px; left: 15px; width: 240px; z-index: 1000; }

@media only screen and (max-width: 580px) { /* line 21, ../sass/mobile.scss */
  .onlyonmobile { display: block !important; }
  /* line 25, ../sass/mobile.scss */
  .bar { height: 60px; }
  /* line 29, ../sass/mobile.scss */
  .panel { -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; margin: 0 30px; padding: 56px 0 40px 0 !important; }
  /* line 34, ../sass/mobile.scss */
  .panel > img { margin-bottom: 50px; width: 200px; margin-right: auto !important; margin-left: 0px !important; }
  /* line 42, ../sass/mobile.scss */
  .panel.right summary { -webkit-box-flex: 1; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; order: 2; }
  /* line 46, ../sass/mobile.scss */
  .panel.right img { order: 1; }
  /* line 52, ../sass/mobile.scss */
  .panel summary + summary { margin-right: auto; margin-left: 0px; }
  /* line 56, ../sass/mobile.scss */
  .panel summary p { margin: 10px 0; }
  /* line 62, ../sass/mobile.scss */
  .paper-button { margin: 15px 0; }
  /* line 67, ../sass/mobile.scss */
  #future polymer-ui-toolbar { -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; }
  /* line 70, ../sass/mobile.scss */
  #future polymer-ui-toolbar a { margin-right: 0 !important; }
  /* line 72, ../sass/mobile.scss */
  #future polymer-ui-toolbar a:first-of-type { margin-bottom: 0; }
  /* line 75, ../sass/mobile.scss */
  #future polymer-ui-toolbar a:last-of-type { display: none; }
  /* line 82, ../sass/mobile.scss */
  #architecture .box { margin-bottom: 25px; }
  /* line 86, ../sass/mobile.scss */
  .edit-on-github { display: none; }
  /* line 90, ../sass/mobile.scss */
  footer { padding: 35px; }
  /* line 92, ../sass/mobile.scss */
  footer polymer-ui-toolbar { -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; -webkit-box-align: flex-start !important; -webkit-align-items: flex-start !important; -moz-align-items: flex-start !important; -ms-align-items: flex-start !important; -o-align-items: flex-start !important; align-items: flex-start !important; } }
@media only screen and (max-width: 850px) { /* line 102, ../sass/mobile.scss */
  #sidebar { -webkit-transform: translate3d(-100%, 0, 0); -moz-transform: translate3d(-100%, 0, 0); -ms-transform: translate3d(-100%, 0, 0); -o-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); -webkit-transition: -webkit-transform 500ms; -moz-transition: -moz-transform 500ms; -o-transition: -o-transform 500ms; transition: transform 500ms; width: 85%; max-width: 315px; z-index: 1000; }
  /* line 109, ../sass/mobile.scss */
  #sidebar.in { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); }
  /* line 115, ../sass/mobile.scss */
  #dropdown-toggle { display: inline-block; }
  /* line 120, ../sass/mobile.scss */
  #architecture .panel p { margin-bottom: 10px; }
  /* line 123, ../sass/mobile.scss */
  #architecture .panel .paper-button { margin: 0 0 40px; }
  /* Force table to not be like tables anymore */
  /* line 7, ../sass/_tables.scss */
  .responsive-table, .responsive-table thead, .responsive-table tbody, .responsive-table th, .responsive-table td, .responsive-table tr { display: block; }
  /* Hide table headers (but not display: none;, for accessibility) */
  /* line 12, ../sass/_tables.scss */
  .responsive-table th { position: absolute; top: -9999px; left: -9999px; }
  /* line 18, ../sass/_tables.scss */
  .responsive-table td { /* Behave  like a "row" */ position: relative; padding-left: 40%; }
  /* line 24, ../sass/_tables.scss */
  .responsive-table td:before { /* Now like a table header */ position: absolute; left: 0; width: 35%; padding-right: 10px; text-transform: uppercase; font-size: 14px; font-weight: 600; }
  /* line 35, ../sass/_tables.scss */
  .responsive-table tr td:last-child { border-bottom: 1px solid #eeeeee; }
  /* line 42, ../sass/_tables.scss */
  .expressions-table td:nth-of-type(1):before { content: "Feature"; }
  /* line 42, ../sass/_tables.scss */
  .expressions-table td:nth-of-type(2):before { content: "Example"; }
  /* line 42, ../sass/_tables.scss */
  .expressions-table td:nth-of-type(3):before { content: "Explanation"; }
  /* line 42, ../sass/_tables.scss */
  .attributes-table td:nth-of-type(1):before { content: "Attribute"; }
  /* line 42, ../sass/_tables.scss */
  .attributes-table td:nth-of-type(2):before { content: "Required?"; }
  /* line 42, ../sass/_tables.scss */
  .attributes-table td:nth-of-type(3):before { content: "Description"; }
  /* line 42, ../sass/_tables.scss */
  .lifecycle-table td:nth-of-type(1):before { content: "Spec"; }
  /* line 42, ../sass/_tables.scss */
  .lifecycle-table td:nth-of-type(2):before { content: "Polymer"; }
  /* line 42, ../sass/_tables.scss */
  .lifecycle-table td:nth-of-type(3):before { content: "Called When"; }
  /* line 42, ../sass/_tables.scss */
  .fouc-table td:nth-of-type(1):before { content: "Class Name"; }
  /* line 42, ../sass/_tables.scss */
  .fouc-table td:nth-of-type(2):before { content: "Applied Behavior"; } }
@media only screen and (min-width: 581px) and (max-width: 850px) { /* line 137, ../sass/mobile.scss */
  #welcome #sidebar { display: block; }
  /* line 141, ../sass/mobile.scss */
  .main-bg .panel img { width: 300px; margin-right: auto; margin-bottom: 30px; }
  /* line 147, ../sass/mobile.scss */
  .panel { -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; margin: 0 30px; }
  /* line 151, ../sass/mobile.scss */
  .panel.left img { margin-left: 0px; margin-right: auto; }
  /* line 156, ../sass/mobile.scss */
  .panel.right img { width: 300px; margin-right: 0px; margin-left: auto; }
  /* line 162, ../sass/mobile.scss */
  .panel summary + summary { margin-right: auto; margin-left: 0px; }
  /* line 168, ../sass/mobile.scss */
  footer { padding-left: 35px; } }
@media only screen and (min-width: 851px) and (max-width: 990px) { /* line 178, ../sass/mobile.scss */
  #future polymer-ui-toolbar { -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap; }
  /* line 180, ../sass/mobile.scss */
  #future polymer-ui-toolbar .paper-button:not(:last-child) { margin-right: 10px; margin-bottom: 16px; }
  /* line 188, ../sass/mobile.scss */
  footer polymer-ui-toolbar { -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: flex-start; -webkit-justify-content: flex-start; -moz-justify-content: flex-start; -ms-justify-content: flex-start; -o-justify-content: flex-start; justify-content: flex-start; }
  /* line 192, ../sass/mobile.scss */
  footer polymer-ui-toolbar .paper-button { margin-bottom: 16px; }
  /* line 197, ../sass/mobile.scss */
  footer #copyright { margin-top: -16px; } }
