@import url(//fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,800|Source+Code+Pro);

/*h1 {
  font-size: 3.4vw;
}
h2 {
  font-size: 2.8vw;
}
h3 {
  font-size: 2.1vw;
}
h4 {
  font-size: 1.5vw;
}*/

h2:target, h3:target, h4:target {
  padding-top: 50px;
}
body {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  padding-bottom: 40px;
}
code, pre {
  font-family: "Source Code Pro",Monaco,Menlo,Consolas,"Courier New",monospace;
}
/* Help catch template errors. */
.error {
  border: 3px solid red;
  background-color: rgba(255,0,0,0.3);
  padding: 5px;
}
.brand {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
iframe[seamless] {
  border: none;
}
figcaption {
  text-align: center;
  font-style: italic;
  padding: 10px;
}
footer {
  font-size: smaller;
}
footer div:first-of-type {
  float: left;
}

.nav li.icon i {
  margin-right: 5px;
}

/* Bootstrap overrides ------------------------------------------------------ */
.lead {
  margin-bottom: 30px;
}
.brand {
  background: url(/images/icons/loading_icon.svg) no-repeat 16px 50%;
  background-size: 22px;
  padding-left: 40px !important;
}
.sidebar-nav.affix, .navbar-fixed-top {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.navbar-inner {
  border-color: #bbb;
  background-image: -moz-linear-gradient(top, #ffffff, #ccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ccc));
  background-image: -webkit-linear-gradient(top, #ffffff, #ccc);
  background-image: -o-linear-gradient(top, #ffffff, #ccc);
  background-image: linear-gradient(to bottom, #ffffff, #ccc);
}
/*.well-small {
  padding: 3px 0;
}
.well-small .nav-list li {
  padding: 0 9px;
}*/
.alert.alert-error {
  clear: both;
}
.nav-header a {
  color: #999;
}
.page-header a {
  color: inherit;
}
.sidebar-nav .sidebyside span {
  margin: 0 5px;
}
.sidebar-nav .sidebyside a {
  display: inline-block !important;
}
/* -------------------------------------------------------------------------- */

.centered {
  text-align: center;
}

/* Remove empty p generated from markdown conversion. */
p:empty {
  display: none;
}
a[disabled] {
  pointer-events: none;
  color: #ccc;
}
#content-container {
  position: relative;
}
.edit-on-github {
  /*position: absolute;
  top: 0;
  right: 0;*/
  float: right;
  font-size: smaller;
}

.permalink {
  display: none;
  margin-left: 5px;
}
.has-permalink:hover .permalink {
  display: initial; 
}
.no-permalink .permalink {
  display: none !important;
}
/* Architecture stack */
.core {
  color: rgb(244, 180, 0);
}
.core.bg {
  background-color: rgba(255, 209, 77, 0.5);
}
.foundation {
  color: rgb(205, 55, 45);
}
.foundation.bg {
  background-color: rgba(244, 74, 63, 0.3);
}
.elements {
  color: rgb(3, 119, 75);
}
.elements.bg {
  background-color: rgba(13, 168, 97, 0.3);
}
.applications {
  color: rgb(35, 100, 215);
}
.applications.bg {
  background-color: rgba(67, 135, 253, 0.3);
}

#content {
  min-height: 400px;
}
#content img {
  border-radius: 7px;
}
#logo-row {
  width: 110px;
  text-align: right;
  -webkit-filter: grayscale(0.8);
  -moz-filter: grayscale(0.8);
  -ms-filter: grayscale(0.8);
  -o-filter: grayscale(0.8);
  filter: grayscale(0.8);
  float: right;
}
#logo-row img {
  height: 25px;
  width: auto;
  margin: 0 2px;
}
.sharelinks li {
  padding: 10px 10px 0 0;
}

/* Home */
#dialog {
  top: 100px;
  left: 50%;
  width: 512px;
  margin-left: -256px;
  z-index: 1500 !important;
}
#dialog::x-backdrop {
  background: rgba(0,0,0,0.4) !important;
}
.dialog {
  box-sizing: border-box;
  overflow: hidden;
  background: white;
  padding: 30px 42px;
  outline: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}
.dialog header,
.dialog div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-top: 5px;
}
.dialog header {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}
.dialog header h3 {
  margin: 0;
  line-height: 1;
}
.dialog button {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0 5px 3px 5px;
}
.dialog header > :last-child,
.dialog div > :last-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.dialog div label {
  margin-bottom: 0;
  margin-right: 10px;
  width: 160px;
  font-weight: bold;
}
.dialog div pre {
  margin: 0;
}
.dialog .right {
  text-align: right;
}
.dialog footer {
  margin-top: 25px;
}

.download {
  margin: 30px 0;
}
#video {
  width: 560px;
  height: 315px;
}
#architecture-diagram iframe {
  height: 435px;
  width: 100%;
  border: none;
}

/* Articles */

.forversion {
  float: right;
  color: #ccc;
  font-style: italic;
}
/*.article .tags {
  color: #ccc;
  font-size: small;
}
.article .tags span {
  margin-right: 5px;
}*/
.article .byline {
  font-size: smaller;
  color: #ccc;
}

.author {
  margin-bottom: 20px;
}
.author > p {
  display: inline-block;
  margin: 0;
}
.author > p:first-of-type {
  vertical-align: top;
}
.author img {
  margin-right: 5px;
  height: 40px;
  width: 40px;
}

/* Elements */
.element-list {
  margin: 0;
  list-style: none;
}
.element-list h3 {
  font-family: "Source Code Pro",Monaco,Menlo,Consolas,"Courier New",monospace;
}
.element-list .links {
  margin-left: 17px;
}
.element-list .links a {
  margin-right: 10px;
}

@media (min-width: 980px) {
  body {
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  .codescreenshot {
    display: block !important;
  }
}
@media only screen and (max-width: 700px) {
  /*h1 {
    font-size: 6.4vw;
  }
  h2 {
    font-size: 5.4vw;
  }
  h3 {
    font-size: 4.7vw;
  }
  h4 {
    font-size: 4.1vw;
  }*/
  #video {
    width: initial;
    height: initial;
  }
  #architecture-diagram iframe {
    height: initial;
  }
}
