@import url(//fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,800|Source+Code+Pro);
/* line 20, ../sass/spec.scss */
.meta { font-size: 12px; font-weight: normal; line-height: 20pt; }

/* line 27, ../sass/spec.scss */
.secondary { font-size: 14px; font-weight: normal; line-height: 20pt; }

/* line 34, ../sass/spec.scss */
body { font-size: 16px; font-family: "Open Sans", Helvetica, Arial, sans-serif; font-weight: normal; line-height: 24pt; }

/* line 42, ../sass/spec.scss */
.header { font-size: 20px; font-weight: 600; line-height: 24pt; }

/* line 49, ../sass/spec.scss */
.display, h1, h2, h3, h4, h5 { font-size: 36px; font-weight: 300; line-height: 44pt; margin: 0; }

/* line 56, ../sass/spec.scss */
h2 { font-size: 30px; }

/* line 59, ../sass/spec.scss */
h3 { font-size: 24px; }

/* line 62, ../sass/spec.scss */
h4 { font-size: 21px; }

/* line 65, ../sass/spec.scss */
h5 { font-size: 16px; }

/* line 69, ../sass/spec.scss */
button { font-size: 12px; font-weight: normal; text-transform: uppercase; }

/* line 76, ../sass/spec.scss */
a { font-size: inherit; font-weight: normal; color: #3367d6; text-decoration: none; }

/* line 85, ../sass/spec.scss */
code, pre { font-family: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace; }

/*h1 { font-size: 3.4vw;
}
h2 { font-size: 2.8vw;
}
h3 { font-size: 2.1vw;
}
h4 { font-size: 1.5vw;
}*/
/* line 27, ../sass/site.scss */
h1, h2, h3, h4 { font-weight: 600; }

/* line 31, ../sass/site.scss */
h2:target, h3:target, h4:target { padding-top: 50px; }

/* line 34, ../sass/site.scss */
body { font-family: "Open Sans",Helvetica,Arial,sans-serif; padding-bottom: 40px; padding-top: 70px; }

/* line 40, ../sass/site.scss */
code, pre { font-family: "Source Code Pro",Monaco,Menlo,Consolas,"Courier New",monospace; }

/* Help catch template errors. */
/* line 44, ../sass/site.scss */
.error { border: 3px solid red; background-color: rgba(255, 0, 0, 0.3); padding: 5px; }

/* line 49, ../sass/site.scss */
.brand { -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; -ms-user-select: none; user-select: none; }

/* line 52, ../sass/site.scss */
iframe[seamless] { border: none; }

/* line 55, ../sass/site.scss */
figcaption { text-align: center; font-style: italic; padding: 10px; }

/* line 60, ../sass/site.scss */
footer { font-size: smaller; }
/* line 63, ../sass/site.scss */
footer div:first-of-type { float: left; }

/* Bootstrap overrides ------------------------------------------------------ */
/* line 70, ../sass/site.scss */
.brand { background: url(/images/icons/loading_icon.svg) no-repeat 0 50%; background-size: 30px; padding-left: 35px !important; }

/* line 75, ../sass/site.scss */
.alert.alert-error { clear: both; }

/* line 78, ../sass/site.scss */
.page-header a { color: inherit; }

/* line 81, ../sass/site.scss */
.page-header h1 { margin: 0; }

/* -------------------------------------------------------------------------- */
/* line 86, ../sass/site.scss */
.centered { text-align: center; }

/* line 90, ../sass/site.scss */
.right { text-align: right; }

/* Remove empty p generated from markdown conversion. */
/* line 95, ../sass/site.scss */
p:empty { display: none; }

/* line 98, ../sass/site.scss */
a[disabled] { pointer-events: none; color: #ccc; }

/* line 103, ../sass/site.scss */
#topnav { position: fixed; width: 100%; top: 0; left: 0; z-index: 1; font-weight: 300 !important; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #ffffff)); background: -webkit-linear-gradient(top, #f0f0f0, #ffffff); background: -moz-linear-gradient(top, #f0f0f0, #ffffff); background: -o-linear-gradient(top, #f0f0f0, #ffffff); background: linear-gradient(top, #f0f0f0, #ffffff); }
/* line 112, ../sass/site.scss */
#topnav polymer-ui-toolbar { height: 60px; font: inherit !important; /*height: 50px !important;*/ border: none !important; margin: 0 20px; background: inherit !important; }
/* line 125, ../sass/site.scss */
#topnav .brand { font-size: 25px; min-width: 135px; }
/* line 130, ../sass/site.scss */
#topnav ul { list-style: none; padding: 0; margin: 0; }
/* line 136, ../sass/site.scss */
#topnav a:hover { text-decoration: none; }
/* line 141, ../sass/site.scss */
#topnav li.icon a, #topnav a.brand { color: inherit; padding: 10px 0; vertical-align: middle; -webkit-transition: border-bottom 400ms ease-in-out; -moz-transition: border-bottom 400ms ease-in-out; -o-transition: border-bottom 400ms ease-in-out; transition: border-bottom 400ms ease-in-out; border-bottom: 2px solid transparent; }
/* line 149, ../sass/site.scss */
#topnav li.icon a { margin: 0 20px; }
/* line 152, ../sass/site.scss */
#topnav li.icon a:hover { border-bottom: 2px solid black; }
/* line 156, ../sass/site.scss */
#topnav li.icon i { vertical-align: middle; margin-right: 5px; }
/* line 162, ../sass/site.scss */
#topnav .sharelinks { margin-right: 9%; }
/* line 165, ../sass/site.scss */
#topnav .sharelinks i { font-size: 1.7em; margin-right: 7px; vertical-align: middle; }
/* line 170, ../sass/site.scss */
#topnav .sharelinks a { margin-left: 10px; display: inline-block; width: 22px; -webkit-transition: width 300ms ease-in-out; -moz-transition: width 300ms ease-in-out; -o-transition: width 300ms ease-in-out; transition: width 300ms ease-in-out; overflow: hidden; white-space: nowrap; }
/* line 178, ../sass/site.scss */
#topnav .sharelinks a:hover { width: 110px; }

/* line 185, ../sass/site.scss */
.icon-twitter { color: #00aced; }

/* line 189, ../sass/site.scss */
.icon-google-plus, .icon-google-plus-sign { color: #dd4b39; }

/* line 193, ../sass/site.scss */
docs-menu { margin-left: -10px !important; position: fixed; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); border-right: 1px solid #eee; height: 90%; max-width: 24%; }

/* line 209, ../sass/site.scss */
#content-container, .container-fluid .row-fluid > footer { margin-left: 26%; }

/* line 213, ../sass/site.scss */
#content-container { position: relative; box-sizing: border-box; }
/* line 216, ../sass/site.scss */
#content-container.loading::before { color: #aaa; font-size: 24px; font-family: "FontAwesome"; content: '\f013 \00a0 loading...'; position: absolute; width: 100%; height: 100%; box-sizing: border-box; padding-top: 4em; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; -o-justify-content: center; justify-content: center; -webkit-box-align: flex-start; -webkit-align-items: flex-start; -moz-align-items: flex-start; -ms-align-items: flex-start; -o-align-items: flex-start; align-items: flex-start; background-size: 30px; background-color: rgba(255, 255, 255, 0.8); }

/* line 236, ../sass/site.scss */
.edit-on-github { /*position: absolute;
top: 0;
right: 0;*/ float: right; font-size: smaller; }

/* line 244, ../sass/site.scss */
.permalink { display: none; margin-left: 5px; }

/* line 248, ../sass/site.scss */
.has-permalink:hover .permalink { display: initial; }

/* line 251, ../sass/site.scss */
.no-permalink .permalink { display: none !important; }

/* Architecture stack */
/* line 255, ../sass/site.scss */
.core { color: #ffd14d; }

/* line 258, ../sass/site.scss */
.core-bg { background-color: rgba(255, 209, 77, 0.5); }

/* line 261, ../sass/site.scss */
.foundation { color: #cd372d; }

/* line 264, ../sass/site.scss */
.foundation-bg { background-color: rgba(244, 74, 63, 0.3); }

/* line 267, ../sass/site.scss */
.elements { color: #0da861; }

/* line 270, ../sass/site.scss */
.elements-bg { background-color: rgba(13, 168, 97, 0.3); }

/* line 273, ../sass/site.scss */
.applications { color: #2364d7; }

/* line 276, ../sass/site.scss */
.applications-bg { background-color: rgba(67, 135, 253, 0.3); }

/* line 280, ../sass/site.scss */
#content { min-height: 400px; }
/* line 283, ../sass/site.scss */
#content img { border-radius: 7px; }

/* line 288, ../sass/site.scss */
#logo-row { width: 110px; text-align: right; -webkit-filter: grayscale(0.8); -moz-filter: grayscale(0.8); -o-filter: grayscale(0.8); -ms-filter: grayscale(0.8); float: right; }
/* line 294, ../sass/site.scss */
#logo-row img { height: 25px; width: auto; margin: 0 2px; }

/* Home */
/* line 302, ../sass/site.scss */
#dialog { top: 100px; left: 50%; width: 512px; margin-left: -256px; z-index: 1500 !important; }
/* line 309, ../sass/site.scss */
#dialog::x-backdrop { background: rgba(0, 0, 0, 0.4) !important; }

/* line 314, ../sass/site.scss */
.dialog { box-sizing: border-box; overflow: hidden; background: white; padding: 30px 42px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); }
/* line 322, ../sass/site.scss */
.dialog footer { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; margin-top: 5px; }
/* line 327, ../sass/site.scss */
.dialog footer > :last-child { -webkit-box-flex: 1; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; }
/* line 333, ../sass/site.scss */
.dialog section div { margin-bottom: 10px; }
/* line 336, ../sass/site.scss */
.dialog section pre { margin: 0; }
/* line 341, ../sass/site.scss */
.dialog header { margin-bottom: 20px; border-bottom: 1px solid #eee; padding-bottom: 5px; }
/* line 346, ../sass/site.scss */
.dialog header h3 { margin: 0; line-height: 1; }
/* line 352, ../sass/site.scss */
.dialog button { position: absolute; right: 15px; top: 10px; padding: 0 5px 3px 5px; }
/* line 359, ../sass/site.scss */
.dialog footer { margin-top: 25px; }

/* line 364, ../sass/site.scss */
.download { margin: 30px 0; }

/* line 367, ../sass/site.scss */
.video { margin: 20px; }
/* line 369, ../sass/site.scss */
.video iframe { width: 560px; height: 315px; }

/* line 375, ../sass/site.scss */
#what-is { list-style: none; margin-left: 0; }
/* line 379, ../sass/site.scss */
#what-is li { margin-bottom: 25px; }

/* line 384, ../sass/site.scss */
#architecture-diagram { float: right; margin: 0 20px; }
/* line 388, ../sass/site.scss */
#architecture-diagram iframe { /*height: 435px;
width: 100%;*/ height: 200px; width: 240px; border: none; }

/* line 399, ../sass/site.scss */
.forversion { float: right; color: #ccc; font-style: italic; }

/* line 404, ../sass/site.scss */
.article .byline { font-size: smaller; color: #ccc; }

/* line 409, ../sass/site.scss */
.author { margin-bottom: 20px; }
/* line 412, ../sass/site.scss */
.author > p { display: inline-block; margin: 0; }
/* line 416, ../sass/site.scss */
.author > p:first-of-type { vertical-align: top; }
/* line 421, ../sass/site.scss */
.author img { margin-right: 5px; height: 40px; width: 40px; }

/* Elements */
/* line 431, ../sass/site.scss */
.element-list > [data-element-file] { padding-bottom: 20px; }
/* line 435, ../sass/site.scss */
.element-list h4.name { display: inline-block; }
/* line 438, ../sass/site.scss */
.element-list h3 { font-family: "Source Code Pro",Monaco,Menlo,Consolas,"Courier New",monospace; }
/* line 441, ../sass/site.scss */
.element-list .links { margin-bottom: 10px; display: block; }
/* line 445, ../sass/site.scss */
.element-list .links a { margin-right: 10px; }
/* line 450, ../sass/site.scss */
.element-list .nodocs { margin-left: 17px; font-style: italic; }
/* line 454, ../sass/site.scss */
.element-list .nodocs:after { content: 'No documentation available.'; }
/* line 459, ../sass/site.scss */
.element-list iframe { border: none; width: 100%; }
/* line 466, ../sass/site.scss */
.element-list .bower_install_instructions > label, .element-list .api_documentation > label { font-weight: 600; }

/*@media (min-width: 980px) { body { padding-top: 60px; }
}*/
@media only screen and (max-width: 700px) { /*h1 { font-size: 6.4vw; } h2 { font-size: 5.4vw; } h3 { font-size: 4.7vw; } h4 { font-size: 4.1vw; }*/
  /* line 491, ../sass/site.scss */
  body { padding: 0 0 70px 0; }
  /* line 494, ../sass/site.scss */
  #topnav { position: initial !important; }
  /* line 497, ../sass/site.scss */
  #topnav li.icon a { margin: 0 20px; display: inline-block; width: 20px; white-space: nowrap; overflow: hidden; }
  /* line 504, ../sass/site.scss */
  #topnav polymer-ui-toolbar { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #ffffff)); background: -webkit-linear-gradient(top, #f0f0f0, #ffffff); background: -moz-linear-gradient(top, #f0f0f0, #ffffff); background: -o-linear-gradient(top, #f0f0f0, #ffffff); background: linear-gradient(top, #f0f0f0, #ffffff); }
  /* line 507, ../sass/site.scss */
  #topnav polymer-ui-toolbar > polymer-ui-toolbar { margin: 0; }
  /* line 513, ../sass/site.scss */
  docs-menu { position: relative; border: none; max-width: initial; margin-left: 10px !important; }
  /* line 519, ../sass/site.scss */
  polymer-ui-menu { margin-left: 25px !important; }
  /* line 522, ../sass/site.scss */
  polymer-ui-menu > polymer-ui-menu-item { display: block !important; }
  /* line 525, ../sass/site.scss */
  #content-container { margin-left: initial; padding: 0 5px; }
  /* line 529, ../sass/site.scss */
  .container-fluid .row-fluid > footer { margin-left: initial; }
  /* line 532, ../sass/site.scss */
  .video { margin: initial; }
  /* line 534, ../sass/site.scss */
  .video iframe { width: initial; height: initial; }
  /* line 539, ../sass/site.scss */
  #architecture-diagram { float: initial; }
  /* line 542, ../sass/site.scss */
  .sharelinks { margin-right: 7px !important; }
  /* line 544, ../sass/site.scss */
  .sharelinks a:hover { width: 22px !important; } }
