//@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/images";
//@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
//@import "compass/css3/background-size";

@import "vars";
