$font-size-display: 40px;

h1, h2, h3, h4, h5 {
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 48px;
  margin: 0;
}

// The @polyfill rules are kept separate from the general ones to the polyfill
// doesn't process them. Helps mitigate FOUC.

h1 {
  font-size: $font-size-display;
}

polyfill-next-selector { content: ':host h1'; }
:host content /content/ h1 {
  font-size: $font-size-display;
}

h2 {
  font-size: 24px;
}

polyfill-next-selector { content: ':host h2'; }
:host content /content/ h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

polyfill-next-selector { content: ':host h3'; }
:host content /content/ h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

polyfill-next-selector { content: ':host h4'; }
:host content /content/ h4 {
  font-size: 16px;
  font-weight: 600;
}

h5 {
  font-size: 12px;
  font-weight: 600;
}

polyfill-next-selector { content: ':host h5'; }
:host content /content/ h5 {
  font-size: 12px;
  font-weight: 600;
}
