@import "base";

@import "spec";
@import "polymer";

.h1heading {
  font-size: 35px;
}

.h5heading {
  font-size: $font-size-secondary;
  font-weight: 500;
  color: $secondary-heading-color;
  line-height: 24px;
  letter-spacing: 0.01em;
  margin-top: 6px;
  margin-bottom: 18px;
}

section {
  border-bottom: 1px solid $main-bg;
}

.main-purple {
  color: white;
}

section .bar {
  @include justify-content(flex-end);
  @include align-items(center);
  border-top: 1px solid $main-bg;
  border-bottom: 1px solid $main-bg;
  background-color: $gray-medium;
  height: auto;

  &.main-purple {
    border-color: rgba(255,255,255,0.3);
    @extend .main-purple;

    a {
      color: white;
    }
  }

  a {
    color: inherit;
    font-size: $font-size-body;
    // font-weight: 600;
    // letter-spacing: 0.01em;
    // line-height: 19.2px;
    text-align: right;
    @include flex(1);
    opacity: 0.6;

    &:after {
      content: '\0025BE';
      margin: 0 10px;
    }
  }
}

// Manual FOUC prevention for homepage.
site-banner {
  height: $siteBannerHeightMin;
  -webkit-transition: box-shadow 200ms ease-in-out, opacity 300ms ease-in !important;
  transition: box-shadow 200ms ease-in-out, opacity 300ms ease-in !important;

  &[unresolved] {
    opacity: 0;
    visibility: hidden;
  }
}
// ----

site-banner .logo {
  z-index: 200;
}

.panel {
  @extend .content-padding;
  padding: 75px 16px;
  @include display-flex;

  $img-margin: 88px;

  &.left {
    img {
      margin-right: $img-margin;
    }
  }
  &.right {
    img {
      margin-left: $img-margin;
    }
  }

  summary {
    @include flex(1);

    + summary {
      margin-left: 25px;
    }

    p {
      margin: 20px 0;
      line-height: 32px;
    }
  }

  img {
    @include align-self(center);
  }

  img.cover {
    object-fit: cover;
    object-position: 50% 0;
    @include flex(1 0 auto);
    margin-top: 1em;
    height: 300px;
    width: 100%;
    -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, white 20%);
    -moz-mask-box-image: -moz-linear-gradient(bottom, transparent, white 20%);
    -ms-mask-box-image: -ms-linear-gradient(bottom, transparent, white 20%);
    mask-box-image: linear-gradient(bottom, transparent, white 20%);
  }
}

@supports (not (object-fit: cover)) {
  img.cover {
    height: auto !important;
    width: 100% !important;
  }
}

#future {
  .panel {
    padding-top: 125px;
  }
  a {
    text-decoration: none;
  }
  a:not(:last-of-type) {
    margin-right: 12px;
  }
  paper-button::shadow #content span {
    margin-left: 0;
  }
}

#featured {
  feature-carousel {
    height: 310px;
  }
  .video {
    iframe {
      // width: 640px;
      //width: 500px;
      width: 525px;
      height: 273px;
    }
  }
  .panel summary {
    margin-left: 40px;
  }
  .panel img {
    width: 525px;
    height: 273px;
    border: 1px solid $main-bg;
    margin-left: 0;
    margin-top: 0;
    object-fit: cover;
    object-position: 50% 0;
  }
}

// #videos {
//   .panel {
//     padding: 50px 16px;
//   }
//   .video {
//     @include flex(1);
//     iframe {
//       // width: 640px;
//       width: 500px;
//       height: 281px;
//     }
//   }
//   summary {
//     color: #fff;
//     @include align-self(center);
//   }
// }

#designer {
  .panel {
    @include flex-direction(column);
  }
  summary {
    div {
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);
      @include flex-direction(column);
    }
    h3 {
      margin: 1em 0;
    }
  }
}

#learn, #everything-element {
  summary {
    color: #fff;
  }
}

// #sampler {
//   .panel img {
//     width: 530px;
//     height: 315px;
//     object-fit: cover;
//     object-position: 50% 0;
//   }
// }

#everything-element {
  code {
    color: currentcolor;
  }
  .panel img {
    max-width: 312px;
  }
}

#apps {
  .panel {
    @include flex-direction(column);
    padding: $content-padding 16px ($content-padding - 32px) 16px;
    h1 {
      @include flex(1);
    }
    .columns {
      @include display-flex;
      margin-top: 32px;
    }
    summary {
      margin-bottom: 32px;
      min-width: 300px;
    }
  }
  .box {
    $box-size: 200px;

    @extend .main-bg;
    margin-bottom: $content-padding / 2;
    border-radius: 2px;
    width: $box-size;
    height: $box-size;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
  h1 {
    @extend .h1heading;
  }
  h5 {
    @extend .h5heading;
  }
  p {
    font-size: $font-size-secondary;
    line-height: $line-height-body;
    margin-top: 0;
  }
  img {
    height: 100%;
    width: 100%;
  }
}

// #quickstart {
//   h1 {
//     @extend .h1heading;
//   }
//   h5 {
//     @extend .h5heading;
//   }
//   .panel {
//     @include flex-direction(column);
//   }
//   .example {
//     @include display-flex;
//     border-bottom: 1px solid $main-bg;
//     padding: $content-padding 0;

//     heading {
//       @include align-self(center);
//       @include flex(1 0 auto);

//       h2 {
//         line-height: 1;
//       }
//     }
//     paper-button {
//       margin-top: $additonalPadding;
//     }
//     > div {
//       @include flex(0 1 50%);
//     }
//   }
// }
