/*
Syntax error: File to import not found or unreadable: compass/css3/border-radius.
              Load paths:
                /usr/local/google/home/addyo/projects/docs
                /usr/local/google/home/addyo/projects/docs/sass
        on line 2 of sass/_base.scss
        from line 1 of sass/mobile.scss

1: @import "base";
2: 
3: 
4: // Phone
5: @media only screen and (max-width: $break-small)  {
6: 
7:   #sidebar {

Backtrace:
sass/_base.scss:2
sass/mobile.scss:1
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/import_node.rb:67:in `rescue in import'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/import_node.rb:45:in `import'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/import_node.rb:37:in `css_import?'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:227:in `map'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/engine.rb:315:in `_render'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/engine.rb:262:in `render'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `each'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:235:in `watch'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/plugin.rb:107:in `method_missing'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/exec.rb:463:in `watch_or_update'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/exec.rb:326:in `process_result'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/exec.rb:41:in `parse'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/lib/sass/exec.rb:21:in `parse!'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/gems/sass-3.2.13/bin/sass:13:in `<top (required)>'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/bin/sass:23:in `load'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/bin/sass:23:in `<main>'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/usr/local/google/home/addyo/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/css3/border-radius.\A               Load paths:\A                 /usr/local/google/home/addyo/projects/docs\A                 /usr/local/google/home/addyo/projects/docs/sass\A         on line 2 of sass/_base.scss\A         from line 1 of sass/mobile.scss\A \A 1: @import \"base\";\A 2: \A 3: \A 4: // Phone\A 5: @media only screen and (max-width: $break-small)  {\A 6: \A 7:   #sidebar {"; }
