@import "base";

#dropdown-toggle {
  display: none;
  margin-top: -5px;
  opacity: 0.3;
  // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

dropdown-panel {
  position: absolute;
  top: 75px;
  left: 15px;
  width: 240px;
  z-index: 1000;
}

// Phone
@media only screen and (max-width: $break-small)  {

  .onlyonmobile {
    display: block !important;
  }

  .bar {
    height: $siteBannerHeightMinMobile;
  }
  
  .panel {
    @include flex-direction(column);
    margin: 0 30px;
    padding: $content-padding 0 40px 0 !important;

    > img {
      margin-bottom: 50px;
      width: 200px;
      margin-right: auto !important;
      margin-left: 0px !important;
    }
    
    &.right {
      summary {
        @include flex(1);
        order: 2;
      }
      img {
        order: 1;
      }
    }
    
    summary {
      + summary {
        margin-right: auto;
        margin-left: 0px;
      }
      p {
        margin: 10px 0;
      }
    }
  }

  .paper-button {
    margin: 15px 0;
  }

  #future {
    polymer-ui-toolbar {
      @include flex-direction(column);

      a {
        margin-right: 0 !important;
        &:first-of-type {
          margin-bottom: 0;
        }
        &:last-of-type {
          display: none;
        }
      }
    }
  }

  #architecture .box {
    margin-bottom: 25px;
  }

  .edit-on-github {
    display: none;
  }

  footer {
    padding: $mobileContentPadding;
    polymer-ui-toolbar {
      @include flex-direction(column);
      @include align-items(flex-start !important);
    }
  }

}

// Phone + Portrait Tablet
@media only screen and (max-width: $break-medium) {
  #sidebar {
    @include translate3d(-100%, 0, 0);
    @include single-transition(transform, 500ms);
    width: 85%;
    max-width: $sidebarWidth + 50px;
    z-index: 1000;

    &.in {
      @include translate3d(0, 0, 0);
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
  }

  #dropdown-toggle {
    display: inline-block;
  }

  #architecture .panel {
    p {
      margin-bottom: 10px;
    }
    .paper-button {
      margin: 0 0 40px;
    }
  }

  // Responsive Tables
  // Temporary fix until <responsive-table> fixes EVERYTHING!!!
  @import "tables";
}


// Portrait Tablet
@media only screen and (min-width: $break-small + 1) and (max-width: $break-medium) {

  #welcome #sidebar {
    display: block;
  }

  .main-bg .panel img {
    width: 300px;
    margin-right: auto;
    margin-bottom:30px;
  }
  
  .panel {
    @include flex-direction(column);
    margin: 0 30px;

    &.left img {
      margin-left: 0px;
      margin-right: auto;
    }

    &.right img {
      width: 300px;
      margin-right: 0px;
      margin-left: auto;
    }

    summary + summary {
      margin-right: auto;
      margin-left: 0px;
    }
  }

  footer {
    padding-left: $mobileContentPadding;
  }

}

// Landscape Tablet + Small Desktop
@media only screen and (min-width: $break-medium + 1) and (max-width: $break-large) {

  #future {
    polymer-ui-toolbar {
      @include flex-wrap(wrap);
      .paper-button:not(:last-child) {
        margin-right: 10px;
        margin-bottom: 16px;
      }
    }
  }

  footer {
    polymer-ui-toolbar {
      @include flex-wrap(wrap);
      @include justify-content(flex-start);

      .paper-button {
        margin-bottom: 16px;
      }
    }

    #copyright {
      margin-top: -16px;
    }
  }

}
