@import "vars";

@import "typography";

.platform {
  color: $platform-color;
  // fill: $platform-color;
}

.elements-using {
  color: $using-elements-color;
  // fill: $using-elements-color;
}

.elements-creating {
  color: $creating-elements-color;
  // fill: $creating-elements-color;
}

.main-bg {
  background-color: $main-bg !important;
}

.main-purple {
  background-color: $main-purple;

  paper-button {
    //background: rgba(255,255,255,0.1) !important;
    background: #262742 !important;
    color: white;
    fill: currentcolor;

    &:hover {
      background: rgb(58, 59, 86) !important;
    }
  }
}

code, pre {
  color: #9f499b;
  // padding: 10px 5px;
}

pre, .prettyprint {
  // background-color: $main-purple;
  background-color: $gray-medium;
  padding: 16px;
  margin: 30px 0;

  .typ, .inline {
    // color: #bec945;
    color: #6b499f;
  }
  .pun {
    color: #5c6bc0;
  }
  .str, .string {
    color: #ff4081;
  }
  .pln {
    color: #7986cb;
  }
  .kwd {
    color: #d61a7f;
  }
  .tag {

  }
  .atn, .attribute-name {
    color: #6b499f;
  }
  .atv, .attribute-value {
    color: #7986cb;
  }
  .com, .comment {
    color: #8a8a8a;
  }
}
