@import "material";


paper-button {
  &::shadow #content {
    padding: 5px 5px 5px;
    & > span {
      vertical-align: middle;
    }
  }
}

body /deep/ doc-page::shadow paper-button[raisedButton],
body /deep/ component-download-button::shadow paper-button[raisedButton] {
  background-color: $materialPurple;
  fill: white;
  color: white;
}

body /deep/ core-submenu core-submenu::shadow #submenu {
  margin-left: 24px;
}