@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee'),
       local('Bungee-Regular'),
       url('./Bungee/Bungee-Regular.woff2') format('woff2'),
       url('./Bungee/Bungee-Regular.woff') format('woff'),
       url('./Bungee/Bungee-Regular.ttf')  format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Inline'),
       local('BungeeInline-Regular'),
       url('./Bungee_Inline/BungeeInline-Regular.woff2') format('woff2'),
       url('./Bungee_Inline/BungeeInline-Regular.woff') format('woff'),
       url('./Bungee_Inline/BungeeInline-Regular.ttf')  format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
