node_modules
bower_components
[0-9.]*/components
[0-9.]*/samples/components
polymer-all
_site
.DS_Store
*.pyc
.sass-cache
*.vulcanized.html
*.vulcanized.js
*.sublime-*
_data/versions
.bundle
summit/dist
