[submodule "labs"]
	path = polymer-all/labs
	url = https://github.com/Polymer/labs.git
[submodule "polymer-all/tools"]
	path = polymer-all/tools
	url = https://github.com/Polymer/tools.git
[submodule "polymer-all/tools-private"]
	path = polymer-all/tools-private
	url = https://github.com/Polymer/tools-private
