{% assign author = site.data.authors[page.author] %}
{% assign collaborator = site.data.authors[page.collaborator] %}

{% assign pubdate = page.published | date: "%Y-%m-%d" %}
{% assign updated = page.updated | date: "%Y-%m-%d" %}

{% if page.polymer_version %}
<span class="forversion">Polymer v{{page.polymer_version}}</span>
{% endif %}

{::options parse_block_html="true" /}
<aside class="author">
<!-- <a href="https://plus.google.com/{{author.gplus}}?rel=author" target="blank_">![{{author.full_name}} profile pic](//www.google.com/s2/photos/profile/{{author.gplus}}?sz=40 "{{author.full_name}}")</a> -->
<a href="https://plus.google.com/{{author.gplus}}?rel=author" target="blank_">![{{author.full_name}} profile pic]({{author.profile_pic}} "{{author.full_name}}")</a>

{% if collaborator %}
<a href="https://plus.google.com/{{collaborator.gplus}}?rel=author" target="blank_">![{{collaborator.full_name}} profile pic]({{collaborator.profile_pic}} "{{collaborator.full_name}}")</a>
{% endif %}

By <a href="https://plus.google.com/{{author.gplus}}" target="blank_">{{author.full_name}}</a> {% if collaborator %} and <a href="https://plus.google.com/{{collaborator.gplus}}" target="blank_">{{collaborator.full_name}}</a> {% endif %}<br>
Published <time pubdate datetime="{{pubdate}}">{{page.published | date: "%B %d, %Y"}}</time>
{% if updated %}
(updated <time datetime="{{updated}}">{{updated | date: "%B %d, %Y"}}</time>)
{% endif %}
</aside>