<dropdown-panel>
  <core-item icon="book" label="Learn" {% if page.navgroup == 'docs' %}active{% endif %}>
    <a href="/docs/start/tutorial/intro.html"></a>
  </core-item>
  <core-item icon="drive-document" label="Elements" {% if page.navgroup == 'elements' %}active{% endif %}>
    <a href="/docs/elements/"></a>
  </core-item>
  <core-item icon="list" label="Resources" {% if page.navgroup == 'resources' %}active{% endif %}>
    <a href="/resources/faq.html"></a>
  </core-item>
  <core-item icon="view-headline" label="Blog">
    <a href="//blog.polymer-project.org" target="_blank"></a>
  </core-item>
</dropdown-panel>
