<dropdown-panel>
  <core-item icon="social:school" label="Get Started">
    <a href="docs/start/getting-the-code.html"></a>
  </core-item>
  <core-item icon="description" label="Guides &amp; Resources">
    <a href="docs/devguide/feature-overview.html" class="paper-button" borderless sink></a>
  </core-item>
  <core-item icon="polymer" label="Element Catalog">
    <a href="https://elements.polymer-project.org" target="_blank"></a>
  </core-item>
  <core-item icon="view-headline" label="Blog">
    <a href="https://blog.polymer-project.org" target="_blank"></a>
  </core-item>
</dropdown-panel>

