<dropdown-panel>

  <polymer-ui-menu-item
    src="/images/picons/ic_book_dark_.png"
    label="Learn"
    href="/docs/start/tutorial/intro.html"
    {% if page.navgroup == 'docs' %}active{% endif %}>
  </polymer-ui-menu-item>

  <polymer-ui-menu-item
    src="/images/picons/ic_feedback_dark_.png"
    label="Resources"
    href="/resources/faq.html"
    {% if page.navgroup == 'resources' %}active{% endif %}>
  </polymer-ui-menu-item>

  <polymer-ui-menu-item
    src="/images/picons/ic_people_dark.png"
    label="Community"
    href="/discuss.html"
    {% if page.navgroup == 'community' %}active{% endif %}>
  </polymer-ui-menu-item>
</dropdown-panel>
