<dropdown-panel>
  <core-item icon="social:school" label="Get Started">
    <a href="docs/start/getting-the-code.html"></a>
  </core-item>
  <core-item icon="description" label="Guides &amp; Resources">
    <a href="docs/polymer/polymer.html" class="paper-button" borderless sink></a>
  </core-item>
  <core-item icon="polymer" label="Elements">
    <a href="docs/elements/"></a>
  </core-item>
  <core-item icon="view-headline" label="Blog">
    <a href="//blog.polymer-project.org" target="_blank"></a>
  </core-item>
</dropdown-panel>

