<!-- <footer>
  &copy; Toolkitchen Authors
</footer>
 -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="index_files/bootstrap-scrollspy.js"></script>
<script>
// Change "active" style on selected left-hand navigation menu item.
$(document).ready(function () {
  var path = location.pathname;
  var fileName = path.substr(path.lastIndexOf('/') + 1, path.length) || '/';
  $('ul.nav > li > a[href="' + fileName + '"]').parent().addClass('active');
});
</script>