<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta itemprop="name" content="{{site.project_title}}{% if page.title %} - {{page.title}}{% endif %}">
<meta itemprop="description" content="{% if page.description %}{{page.description}}{% else %}Polymer is a library that uses the latest web technologies to let you create custom HTML elements. Build anything from a button to a complete application as an encapsulated, reusable element that works across desktop and mobile.{% endif %}">

{% if page.snippet_img %}
<meta itemprop="image" content="{{page.snippet_img}}">
{% else %}
<meta itemprop="image" content="http://www.polymer-project.org/images/instacod.png">
{% endif %}

<title>
  {% if page.title %}
    {{page.title}} - 
  {% else %}
    Welcome - 
  {% endif %} {{site.project_title}}
</title>
<link rel="publisher" href="https://plus.google.com/107187849809354688692">
<link rel="shortcut icon" href="/images/logos/p-logo-16.png">
<link href="/css/site2.css?{{site.time | date: '%Y%m%d'}}" rel="stylesheet">

{% for item in page.stylesheets %}
  <link rel="stylesheet" href="{{item}}">
{% endfor %}

{% if site.load_platform %}
  <script src="/platform.js?{{site.time | date: '%Y%m%d'}}"></script>
  <!-- TODO: remove when https://github.com/Polymer/polymer/issues/391 is fixed -->
  <link rel="import" href="/components/polymer/polymer.html">
  <!-- <link rel="import" href="/elements/common_elements.vulcanized.html"> -->
  <!-- TODO go back to vulcanized output after development -->
  <link rel="import" href="/elements/common_elements.html">
{% endif %}
