<p class="alert alert-error">
  <polymer-ui-icon src="/images/picons/ic_notification_error_dark_.png" style="background-size:30px !important;"></polymer-ui-icon>
  <b>Things may break!</b> This material is part of <a href="https://github.com/PolymerLabs">PolymerLabs</a>, our testing ground for experimental stuff. APIs, documentation, and demos are <b>not actively supported</b> and it is recommended that you do not use these elements in production. If you need support, please use the <a href="/components/core-docs/index.html" target="_blank">Core elements</a> collection.
</p>
