<p class="alert alert-error">
  <core-icon icon="warning"></core-icon>
  <b>Things may break!</b> This material is part of <a href="https://github.com/PolymerLabs">PolymerLabs</a>, our testing ground for experimental stuff. APIs, documentation, and demos are <b>not actively supported</b> and it is recommended that you do not use these elements in production. If you need support, please use the <a href="/{% polymer_version_dir %}/docs/elements/core-elements.html">Core elements</a> and <a href="/{% polymer_version_dir %}/docs/elements/paper-elements.html">Paper elements</a> collections.
</p>
