<!-- <div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
  <div class="well well-small sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Getting Started</li>
      <li><a href="/getting-the-code.html">Get the code</a></li>
      <li><a href="/getting-started.html">Getting started</a></li>
      <li><a href="/runtime-config.html">Runtime configuration</a></li>
      <li><a href="/articles/">Articles</a></li>
      
      <li class="divider"></li>
      <li class="nav-header elements">Elements</li>
      <li class="sidebyside"><a href="/docs/elements/">Polymer</a><span>/</span><a href="/docs/elements/other.html">Other</a></li>
      <li class="nav-header core">Core Features</li>
      <li><a href="/polymer.html">polymer.js</a></li>
      <li data-toggle="collapse" data-target="#mdvlist">
        <a href="javascript:">Data-binding<i class="icon-caret-down"></i></a>
        <ul class="nav nav-list collapse" id="mdvlist">
          <li><a href="/docs/polymer/databinding.html">Introduction</a></li>
          <li><a href="/docs/polymer/expressions.html">Expressions</a></li>
        </ul>
      </li>
      <li class="nav-header foundation">Platform Technologies</li>
      <li><a href="/platform/custom-elements.html">Custom Elements</a></li>
      <li><a href="/platform/shadow-dom.html">Shadow DOM</a></li>
      <li><a href="/platform/html-imports.html">HTML Imports</a></li>
      <li><a href="/platform/pointer-events.html">Pointer Events</a></li>
      <li><a href="/platform/web-animations.html">Web Animations</a></li>
      <li><a href="/platform/template.html">Template Binding</a></li>
      <li><a href="/platform/node_bind.html">Node.bind()</a></li>
      <li class="divider"></li>
      <li class="nav-header">More information</li>
      <li><a href="/tooling-strategy.html">Tools &amp; Testing</a></li>
      <li><a href="/compatibility.html">Browser Compatibility</a></li>
      <li><a href="/changelog.html">Releases</a></li>
      <li><a href="/faq.html">FAQ</a></li>
    </ul>
  </div>
</div>
 -->
 
{% raw %}
<polymer-element name="docs-menu">
<template>
  <polymer-ui-menu id="menu" selectedItem="{{item}}">
    <polymer-ui-submenu-item id="gettingstarted" label="Getting started">
      <polymer-ui-menu-item><a href="/getting-the-code.html">Get the code</a></polymer-ui-menu-item>
      <polymer-ui-menu-item><a href="/getting-started.html">Getting started</a></polymer-ui-menu-item>
      <polymer-ui-menu-item><a href="/runtime-config.html">Runtime configuration</a></polymer-ui-menu-item>
      <polymer-ui-menu-item><a href="/articles/">Articles</a></polymer-ui-menu-item>
    </polymer-ui-submenu-item>
    <polymer-ui-submenu-item label="&#61742; Elements" class="elements icon">
      <polymer-ui-menu-item><a href="/docs/elements/">Polymer</a></polymer-ui-menu-item>
      <polymer-ui-menu-item><a href="/docs/elements/other.html">Other</a></polymer-ui-menu-item>
    </polymer-ui-submenu-item>
    <polymer-ui-submenu-item label="&#61635; Core" class="core icon">
      <polymer-ui-menu-item><a href="/polymer.html">polymer.js</a></polymer-ui-menu-item>
      <polymer-ui-submenu-item label="Data-binding &#61655;">
        <polymer-ui-menu-item><a href="/docs/polymer/databinding.html">Introduction</a></polymer-ui-menu-item>
        <polymer-ui-menu-item><a href="/docs/polymer/expressions.html">Expressions</a></polymer-ui-menu-item>
      </polymer-ui-submenu-item>
    </polymer-ui-submenu-item>
    <polymer-ui-submenu-item label="&#61573; Platform" class="foundation icon">
      <polymer-ui-menu-item><a href="/platform/custom-elements.html">Custom Elements</a></polymer-ui-menu-item>
      <polymer-ui-menu-item><a href="/platform/shadow-dom.html">Shadow DOM</a></polymer-ui-menu-item>
      <polymer-ui-menu-item><a href="/platform/html-imports.html">HTML Imports</a></polymer-ui-menu-item>
      <polymer-ui-menu-item><a href="/platform/pointer-events.html">Pointer Events</a></polymer-ui-menu-item>
      <polymer-ui-menu-item><a href="/platform/web-animations.html">Web Animations</a></polymer-ui-menu-item>
      <polymer-ui-menu-item><a href="/platform/template.html">Template Binding</a></polymer-ui-menu-item>
      <polymer-ui-menu-item><a href="/platform/node_bind.html">Node.bind()</a></polymer-ui-menu-item>
    </polymer-ui-submenu-item>
    <polymer-ui-submenu-item label="More information">
      <polymer-ui-menu-item><a href="/tooling-strategy.html">Tools &amp; testing</a></polymer-ui-menu-item>
      <polymer-ui-menu-item><a href="/compatibility.html">Browser compatibility</a></polymer-ui-menu-item>
      <polymer-ui-menu-item><a href="/changelog.html">Releases</a></polymer-ui-menu-item>
      <polymer-ui-menu-item><a href="/faq.html">FAQ</a></polymer-ui-menu-item>
    </polymer-ui-submenu-item>
    <polymer-ui-nav-arrow target="{{item}}" color="#ccc"></polymer-ui-nav-arrow>
  </polymer-ui-menu>
</template>
<script>
  Polymer('docs-menu', {
    applyAuthorStyles: true,
    created: function() {
      // TODO: workaround for Shadow DOM polyfill
      // https://github.com/Polymer/ShadowDOM/issues/246
      this.offsetHeight;

      if (location.pathname.match(/^\/articles\//)) {
        this.$.menu.selected = 0;
        // brittle if articles changes position in nav.
        this.$.gettingstarted.selected = this.$.gettingstarted.items.length - 1;
        return;
      }

      var link = this.shadowRoot.querySelector('a[href="' + location.pathname + '"]');
      if (link) {
        var item = link.parentElement;
        var submenu = item.parentElement;

        submenu.selected = submenu.items.indexOf(item);

        if (submenu.parentElement.localName == 'polymer-ui-submenu-item') {
          do {
            submenu.parentElement.selected = submenu.parentElement.items.indexOf(submenu);
            submenu = submenu.parentElement;
          } while (submenu && submenu.localName == 'polymer-ui-submenu-item');
        } else {
          this.$.menu.selected = this.$.menu.items.indexOf(submenu);
        }
        
      } else {
        this.$.menu.selected = 0;
      }

    }
  });
</script>
</polymer-element>
{% endraw %}

<docs-menu class="span3"></docs-menu>
