<div class="span3">
  <div class="well well-small sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Getting Started</li>
      <li><a href="/getting-the-code.html">Get the code</a></li>
      <li><a href="/getting-started.html">Getting started</a></li>
      <li><a href="/runtime-config.html">Runtime configuration</a></li>
      <li><a href="/articles/">Articles</a></li>
      {% comment %}
      {% for p in site.pages %}
        {% if p.article %}
          <li><a href="{{p.url}}">{{p.title}}</a></li>
        {% endif %}
      {% endfor %}
      {% endcomment %}
      <li class="divider"></li>
      <li class="nav-header elements">Elements</li>
      <li><a href="/docs/elements/">Polymer elements</a></li>
      <li><a href="/docs/elements/other.html">Other elements</a></li>
      <li class="nav-header core">Core runtime</li>
      <li><a href="/polymer.html">polymer.js</a></li>
      <li class="nav-header foundation">Platform technologies</li>
      <li><a href="/platform/custom-elements.html">Custom Elements</a></li>
      <li><a href="/platform/shadow-dom.html">Shadow DOM</a></li>
      <li><a href="/platform/html-imports.html">HTML Imports</a></li>
      <!-- <li class="disabled"><a href="#">Templates</a></li> -->
      <li data-toggle="collapse" data-target="#mdvlist">
        <a href="javascript:">MDV <i class="icon-caret-down"></i></a>
        <ul class="nav nav-list collapse" id="mdvlist">
          <li><a href="/platform/mdv.html">Introduction</a></li>
          <li><a href="/platform/mdv/template.html">Template instantiation</a></li>
          <li><a href="/platform/mdv/node_bind.html">Node.bind</a></li>
          <li><a href="/platform/mdv/syntax_api.html">Pluggable Syntax</a></li>
          <li><a href="/platform/mdv/expression_syntax.html">Expression Syntax</a></li>
        </ul>
      </li>
      <!-- <li><a href="/platform/mutation-observers.html" disabled>Mutation Observers</a></li> -->
      <li><a href="/platform/pointer-events.html">Pointer Events</a></li>
      <li><a href="/platform/web-animations.html">Web Animations</a></li>
      <li class="divider"></li>
      <li class="nav-header">More information</li>
      <li><a href="/tooling-strategy.html">Tools &amp; Testing</a></li>
      <li><a href="/compatibility.html">Browser Compatibility</a></li>
      <li><a href="/changelog.html">Changelog</a></li>
      <li><a href="/faq.html">FAQ</a></li>
    </ul>
  </div>
</div>
