<div class="span3">
  <div class="well well-small sidebar-nav affix">
    <ul class="nav nav-list">
      <li class="nav-header">Getting Started</li>
      <li><a href="/">Introduction</a></li>
      <li><a href="getting-the-code.html">Get the code</a></li>
      <li><a href="getting-started.html">Getting started</a></li>
      <li><a href="runtime-config.html">Runtime configuration</a></li>
      <li class="nav-header">Core runtime</li>
      <li><a href="toolkit-kernel-explainer.html">g-component</a></li>
      <li class="divider"></li>
      <li class="nav-header">Platform technologies</li>
      <li class="disabled"><a href="#">Component Loader</a></li>
      <li class="disabled"><a href="#">Custom Elements</a></li>
      <li class="disabled"><a href="#">MDV</a></li>
      <li class="disabled"><a href="#">Templates</a></li>
      <li><a href="shadow-dom-shim.html">Shadow DOM</a></li>
      <li class="disabled"><a href="#">Web Animations</a></li>
      <li class="disabled"><a href="#">Pointer Events</a></li>
    </ul>
  </div>
</div>
