<p class="alert alert-info">
  <core-icon icon="info"></core-icon>
  This article describes an older version of {{site.project_title}}, and some information may not apply
  to [{{site.project_title}} {{site.default_version}}](/{{site.default_version}}/) For an introduction to
  {{site.project_title}} 0.5, see <a href="/{% polymer_version_dir %}/docs/start/creatingelements.html">
  {{site.project_title}} in 10 minutes</a>. For an introduction to {{site.project_title}} {{site.default_version}},
  see [Quick tour of {{site.project_title}}](/{{site.default_version}}/docs/start/quick-tour.html).
</p>
