<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      </a>
      <a class="brand" href="/">{{site.project_title}} Project</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="icon github"><a href="https://github.com/toolkitchen/toolkit"><img src="/images/icons/github.png">View on Github</a></li>
          <li class="icon bug"><a href="https://github.com/toolkitchen/toolkit/issues/new"><img src="/images/icons/bug.png">File a bug</a></li>
          <li class="icon source"><a href="https://github.com/toolkitchen/toolkit/blob/master/CONTRIBUTING.md"><img src="/images/icons/source.png">Contribute</a></li>
          <li class="icon talk"><a href="discuss.html"><img src="/images/icons/talk.png">Discuss</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
