{% capture theme %}
  {% if page.layout == 'home_1_0' %}
    dark
  {% else %}
    light
  {% endif %}
{% endcapture %}

{% capture ver %}{% polymer_version_dir %}{% endcapture %}

<app-bar theme="{{theme | trim }}" {% if page.layout == 'home_1_0'%}home{% endif %} badge="{% polymer_version_dir %} {{site.versions[ver]}}" class="bar fixed" unresolved>
  <a href="/{% polymer_version_dir %}/docs/start/getting-the-code.html" class="paper-button" borderless sink>Get Started</a>
  <a href="/{% polymer_version_dir %}/docs/devguide/feature-overview.html" class="paper-button" borderless sink>Guides &amp; Resources</a>
  <a href="//elements.polymer-project.org" target="_blank" class="paper-button" borderless sink>Element Catalog</a>
  <a href="//blog.polymer-project.org" target="_blank" class="paper-button" borderless sink>Blog</a>
</app-bar>
