body {
  font-family: "RobotoDraft";
  font-weight: 300;
}
core-animated-pages {
  width: 85%;
  height: 85%;
  -webkit-user-select: none;
  overflow: hidden;
}

core-animated-pages > * {
  border-radius: 5px;
  font-size: 50px;
  background-color: white;
}

body /deep/ core-toolbar {
  background-color: #03a9f4;
}

core-toolbar {
  color: #fff;
}

core-menu {
  color: #01579b;
}

core-menu core-item {
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;
}

core-menu core-item.core-selected {
  background: #eee;
  opacity: 1;
}

@media all and (max-width: 480px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}