@import "elements";

:host {
  @include display-flex();
  @include align-items(center);
  @include justify-content(flex-end);
  @include flex(1);
}

:host(site-banner) { // old, until https://github.com/Polymer/platform/issues/49 is fixed.
  right: 0;
  top: 0;
  position: absolute;
}
:ancestor(site-banner) { // new
  right: 0;
  top: 0;
  position: absolute;
}

:host(.fixed:host) {
  position: fixed;
}

polymer-ui-icon {
  $widthHeight: 24px;
  opacity: 0.6;
  margin-left: 10px;
  width: $widthHeight !important;
  height: $widthHeight !important;
  background-size: $widthHeight * 2 !important;
}

