@import "elements";

:host {
  display: block;
}
#tabstrip {
  height: 60px;
  white-space: nowrap;
  border-bottom: 1px solid #eee;

  span {
    display: inline-block;
    line-height: 58px;
    text-align: center;
    padding: 0px 18px;
    cursor: pointer;
    color: #999;
    font-weight: 500;
  }
}
.tab-wrapper {
  display: flex;
  -webkit-user-select: none;
  user-select: none;
}
.selected {
  color: #444 !important;
  border-bottom: 3px solid currentcolor;
}
#wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  &.bottom {
    -webkit-flex-direction: column;
    flex-direction: column;

    #results {
      max-width: initial;
    }
  }
}
#contents {
  overflow: auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
#results {
  padding: 10px;
  padding-top: 60px;
  display: none;
  position: relative;
  border: 1px solid #eee;

  &:before {
    content: 'Result';
    color: #999;
    font-weight: 500;
    background-color: #eee;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

#container.dark {
  #tabstrip {
    border-bottom: none;
    .selected {
      color: #fff !important;
      border-bottom: 4px solid #d61a7f;
    }
  }
}

.show {
  display: block !important;
}

polyfill-next-selector { content: ':host pre'; }
::content pre {
  margin: 0 !important;
  /*background-color: transparent;*/
  /*padding-left: 0;*/
}

@media only screen and (min-width: 990px)  {
  #wrapper {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  #results {
    max-width: 25%;
  }
}