@import "elements";

:host {
  display: block;
}

polymer-ui-menu {
  display: block;
  position: fixed;
  overflow: scroll;
  height: 100%;
  padding-bottom: 130px;
}

polymer-ui-menu > polymer-ui-submenu-item::shadow polymer-ui-menu-item {
  color: inherit;
}

polymer-ui-submenu-item /deep/ polymer-ui-menu-item,
polymer-ui-menu-item {
  font-size: 14px !important;
  font-weight: 500;
  line-height: 32px !important;
  // letter-spacing: 0.01em;
  padding: 0;
  color: initial;
}

:host /deep/ #menu {
  margin-left: 34px;
}

polymer-ui-submenu-item polymer-ui-submenu-item /deep/ #menu {
  margin-left: 24px;
}

:host /deep/ polymer-ui-icon {
  margin-right: 6px;
  background-size: 48px !important;
}

polymer-ui-menu-item a {
  color: currentcolor;
  text-decoration: none;
}

#mainmenu > * {
  display: none;
}

.show {
  display: block !important;
}