@import "elements";

:host {
  display: block;
}

#mainmenu {
  $leftPadding: 16px;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 $leftPadding;
  margin: 0;
}

core-menu > core-submenu::shadow core-item {
  color: inherit;
}

core-submenu /deep/ core-item,
core-item {
  font-size: 14px !important;
  font-weight: 500;
  line-height: 32px !important;
  // letter-spacing: 0.01em;
  padding: 0;
  color: initial;
  opacity: 0.5;
}

core-submenu /deep/ core-item:hover,
core-item:hover {
  opacity: 0.9;
}

core-submenu /deep/ core-item[active],
core-item[active],
core-submenu /deep/ core-item.core-selected,
core-item.core-selected {
  opacity: 1;
  font-weight: 500 !important;
}

:host /deep/ #menu {
  margin-left: 34px;
}

core-submenu core-submenu /deep/ #menu {
  margin-left: 24px;
}

:host /deep/ core-icon {
  // margin-right: 12px !important;
  height: 20px !important;
  width: 20px !important;
}

core-item a {
  color: currentcolor;
  text-decoration: none;
}

#mainmenu > * {
  display: none;
}

.show {
  display: block !important;
}
