@import "compass/css3/transition";

@import "elements";

$gray-1: #e6e6e6;
$size: 10px;
$transitionTime: 1s;

:host {
  display: block;
  position: relative;
  height: 310px;
}

polyfill-next-selector { content: ':host > core-selector > *'; }
::content > * {
  display: -webkit-flex;
  display: flex;
  // margin-top: 1em;
  // transform: translateZ(0);
  transform: translate3d(15px,0,0);
  @include transition(all $transitionTime ease-in-out);
  opacity: 0;
  visibility: hidden;
  //pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

polyfill-next-selector { content: ':host .core-selected'; }
::content > .core-selected {
  opacity: 1;
  visibility: visible;
  z-index: 0;
  transform: translate3d(0,0,0);
}

#paginator {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 50%;
}

.circle {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  width: $size;
  height: $size;
  border: 1px solid $gray-1;
  @include transition(background-color $transitionTime ease-in-out);
  margin: 0 3px;

  &.active {
    background-color: $gray-1 !important;
  }
}

@media only screen and (max-width: $break-medium) {
  polyfill-next-selector { content: ':host > core-selector > *'; }
  ::content > * {
    @include flex-direction(column);
    width: 100%;
  }
  polyfill-unscoped-rule {
    content: '#feature :host';
    height: 550px;
  }
  :host {
    height: 550px !important;
  }
  #paginator {
    width: 100%;
  }
}
