@import "elements";

:host {
  display: block;
}

:host([sidebar]) {
  padding-left: $sidebarWidth;
}

/* @polyfill :host[sidebar] app-bar.fixed */
:host([sidebar]) ::content app-bar.fixed {
  margin-left: $sidebarWidth;
}

/* @polyfill :host.scrolling site-banner */
:host(.scrolling:not(.mobile)) ::content site-banner {
  height: $siteBannerHeightMin !important;
  padding-bottom: 0;
  position: fixed !important;
  width: 100%;

  // border-bottom: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

/* @polyfill :host.scrolling:not(.mobile) > article */
:host(.scrolling:not(.mobile)) ::content > article {
  padding-top: $siteBannerHeightMax + $additonalPadding;
}

/* @polyfill :host app-bar.fixed */
::content app-bar.fixed {
  position: fixed;
}

/* @polyfill :host > article */
::content > article {
  padding: $additonalPadding $additonalPadding + 40;
  max-width: 912px;
  min-height: 300px;
  overflow: hidden;
}

// Phone + Tablet
@media only screen and (max-width: $break-medium) {
  :host([sidebar]) {
    padding-left: 0 !important;
  }

  /* @polyfill :host > article */
  ::content > article {
    padding-left: $mobileContentPadding;
    padding-right: $mobileContentPadding;
  }
}

// Phone
@media only screen and (max-width: $break-small)  {
  /* @polyfill :host > article */
  ::content > article { 
    padding-top: $siteBannerHeightMinMobile + 10;
  }
}
