@import "elements";

:host {
  background-color: $main-purple;
  @include display-flex();
  @include align-items(flex-end);
  position: relative;
  z-index: 1;
  height: $siteBannerHeightMax;
  color: white;
  // overflow: hidden;
  padding-left: $additonalPadding + 40;

  -webkit-transition: background-color 300ms ease-in;
  transition: background-color 300ms ease-in;

  // @include transform(translate3d(0,0,0));
}

:host([type="platform"]) {
  background-color: $platform-color !important;
}

:host([type="core"]) {
  background-color: $creating-elements-color !important;
}

:host([type="elements"]) {
  background-color: $using-elements-color !important;
}

polyfill-next-selector { content: ':host header'; }
:host content /content/ header {
  padding: 30px 0 40px 0;
  width: 100%;
}

polyfill-next-selector { content: ':host header h1'; }
:host content /content/ header h1 {
  font-size: 45px !important;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

// polyfill-next-selector { content: 'scroll-area:not(.scrolling) h1'; }
// :ancestor(scroll-area:not(.scrolling)) content /content/ header h1 {
//   -webkit-transition: -webkit-transform 200ms linear;
//   transition: -webkit-transform 200ms linear;
// }

polyfill-next-selector { content: ':host header.shrink h1'; }
:host content /content/ header.shrink h1 {
  -webkit-transform: scale(0.444444444);
  transform: scale(0.444444444);
}

polyfill-next-selector { content: ':host header.shrink summary'; }
:host content /content/ header.shrink summary {
  visibility: hidden;
}

polyfill-next-selector { content: ':host header.shrink'; }
:host content /content/ header.shrink {
  position: fixed;
  top: 0;
  pointer-events: none;
}

// polyfill-next-selector { content: 'header a'; }
// :host content /content/ a {
//   color: currentcolor;
// }

polyfill-next-selector { content: 'header summary'; }
:host content /content/ header summary {
  margin-top: 20px;
  opacity: 0.6;
}

// Phone
@media only screen and (max-width: $break-small) {
  :host {
    position: fixed;
    height: $siteBannerHeightMinMobile !important;
    width: 100%;
    @include align-items(center !important);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  }

  polyfill-next-selector { content: ':host header'; }
  :host content /content/ header {
    display: none;
  }

  polyfill-rule {
    content: 'header#internalheader';
    display: block;
    padding: 0;
  }

  polyfill-rule {
    content: 'header#internalheader h2';
    margin: 0;
  }
}

// Phone + Tablet
@media only screen and (max-width: $break-medium) {
  polyfill-next-selector { content: ':host #dropdown-toggle'; }
  :host content /content/ #dropdown-toggle {
    z-index: 1000;
  }

  polyfill-next-selector { content: ':host dropdown-panel'; }
  :host content /content/ dropdown-panel {
    color: black;
  }
}

