@import "elements";

:host {
  background-color: $main-purple;
  @include display-flex();
  @include align-items(flex-end);
  position: relative;
  z-index: 1;
  height: $siteBannerHeightMax;
  color: white;
  overflow: hidden;
  padding-left: $additonalPadding + 40;

  // @include transform(translate3d(0,0,0));
}

/* @polyfill :host.mobile header */
:host(.mobile) ::content header {
  display: none;
}

:host([type="platform"]:host) {
  background-color: $platform-color;
}

:host([type="core"]:host) {
  background-color: $creating-elements-color;
}

:host([type="elements"]:host) {
  background-color: $using-elements-color;
}

/* @polyfill :host header */
::content header {
  padding: 30px 0 40px 0;
  width: 100%;
}

/* @polyfill header h1 */
::content h1 {
  letter-spacing: -0.01em;
  line-height: 48px;
  font-size: 45px;

  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  // -webkit-transition: -webkit-transform 100ms ease-in-out;
  // transition: -webkit-transform 100ms ease-in-out;
}

/* @polyfill :host header.shrink h1 */
::content header.shrink h1 {
  -webkit-transform: scale(0.444444444);
  transform: scale(0.444444444);
}

/* @polyfill :host header.shrink summary */
::content header.shrink summary {
  visibility: hidden;
}

/* @polyfill :host header.shrink */
::content header.shrink {
  position: fixed;
  pointer-events: none;
}

/* @polyfill header a */
::content a {
  color: currentcolor;
}


/* @polyfill header summary */
::content summary {
  margin-top: 20px;
  opacity: 0.6;
}

