pre, code {
  /* Override the very opinionated and specific highlight.js style */
  font-family: 'Source Code Pro', 'Roboto Mono', 'Consolas', 'Menlo', monospace !important;
}

pre {
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  /* Override the very opinionated and specific highlight.js style */
  background: white !important;
}

code {
  color: #0D47A1;
  font-weight: 400;
}
