pre, code {
  font-family: 'Source Code Pro', 'Roboto Mono', 'Consolas', 'Menlo', monospace;
}
pre {
  background: #f5f6f7;
  padding: 16px;
  margin: 30px 0;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  line-height: 20px;
}
