@import "syntax-style";

pre, code {
  /* Override the very opinionated and specific highlight.js style */
  font-family: 'Source Code Pro', 'Roboto Mono', 'Consolas', 'Menlo', monospace !important;
}

pre {
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  /* We load iron-doc-viewer which loads prism-highlighter, which has a
   * style for this that doesn't make sense, and we need to override. */
  background: #f4f5f6 !important;
  padding: .5em;
}

demo-tabs pre {
  margin: 0;
}

code {
  color: #0D47A1;  /* blue-900 */
  font-weight: 400;

  /* We load iron-doc-viewer which loads prism-highlighter, which has a
  * style for this that doesn't make sense, and we need to override. */
  background: #f4f5f6 !important;
}
