$small-padding: 20px;
$medium-padding: 40px;
$large-padding: 100px;

$mobile-media-breakpoint: 767px;

$pink-a400: #f50057;
$blue-600: #1e88e5;
$blue-800: #1565c0;
$blue-900: #0d47a1;
$blue-grey-900: #263238;
$blue-grey-50: #eceff1;
$pale-grey: #fafafa;

main {
  position: relative;
  background: $pale-grey;
  padding: 10px $medium-padding;
  max-width: 1200px;

  font-size: 16px;
  font-family: 'Roboto', 'Noto', sans-serif;
  line-height: 24px;
  font-weight: 300;

  /* layout horizontal-reverse */
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  @media (max-width: 1000px) {
    flex-direction: column;
    /* At < 1000px, the TOC floats to the top, so we can add back the right-padding. */
    padding-right: $medium-padding;
  }

  @media (max-width: 500px) {
    padding-left: $small-padding;
    padding-right: $small-padding;
  }
}

article {
  min-width: 0;    /* For some reason, this is non-0 */
  max-width: 800px;
  flex: 1;
  flex-basis: 0;
}

article.right-nav {
  max-width: calc(100% - 300px);
}

.details-wrapper {
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 30px;
  width: 300px;

  &.relative {
    /* Important to override the inline styles applied if the TOC was
     * previously in a fixed position */
    position: relative !important;
    top: 0 !important;
    max-width: none !important;
  }

  &.fixed {
    position: fixed;
    right: $medium-padding;  /* The <main> right padding */
  }

  ul {
    list-style-type: none;
    font-size: 14px;
    margin: 0;
  }

  ul[data-depth="1"], ul[data-depth="3"] {
    padding: 0;
    margin-top: 10px;

    a {
      color: black;
      font-weight: 500;
    }
  }

  ul[data-depth="2"] {
    font-weight: 300;
    padding: 0 20px;
    a {
      font-weight: 300;
    }
  }

  @media (max-width: 1000px) {
    padding: 0;
    max-width: 100%;
  }
}

details {
  will-change: transform;
  padding-top: 20px;

  &.right-nav {
    padding-left: 20px;
    border-left: 2px solid $blue-grey-50;
  }
  summary {
    font-family: 'Roboto Slab', 'Roboto', 'Noto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 0;
  }

  summary::-webkit-details-marker {
    display: none;
    @media (max-width: 1000px) {
      display: inline-block;
    }
  }
}

pre {
  background: white;
  font-weight: 400;
}

code {
  color: $blue-900;
  font-weight: 400;
  word-wrap: break-word;
}

h1 {
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
}

h2 {
  border-bottom: 1px solid $pink-a400;
  margin: 20px 0;
}

h3 {
  font-family: 'Roboto Slab', 'Roboto', 'Noto', sans-serif;
  font-size: 24px;

  @media (max-width: 500px) {
    font-size: 18px;
  }
}

h4, p.caption {
  font-size: 16px;
  font-weight: 500;
}

p.caption {
  margin-bottom: 0;
}

a > code {
  text-decoration: underline;
}

.alert {
  padding: 10px 10px 10px 44px;  /* 34px from the icon + 10px left padding */
  margin: 30px;
  border-radius: 3px;
  font-size: 15px;

  @media (max-width: $mobile-media-breakpoint) {
    margin: 0px;
  }

  &:before {
    display: inline-block;
    /* Hack to have the icon in a separate column than the text */
    float: left;
    margin-left: -34px;  /* the icon is 24px wide, + 10px padding */
  }

  &.alert-success, &.alert-tip {
    background-color: #E8F5E9;
    border: 1px solid #C8E6C9;

    &:before {
      content: url(/images/alerts/tip.svg);
    }
  }

  &.alert-info {
    background-color: #E1F5FE;
    border: 1px solid #B3E5FC;

    &:before {
      content: url(/images/alerts/info.svg);
    }
  }

  &.alert-error, &.alert-warning {
    background-color: #FBE9E7;
    border: 1px solid #FFCCBC;

    &:before {
      content: url(/images/alerts/warning.svg);
    }
  }
}

code.hljs {
  background: white;
  font-weight: 400;
}
