$font-size-small: 13px;
$font-size-medium: 18px;

$small-padding: 20px;
$medium-padding: 40px;
$large-padding: 100px;

$mobile-media-breakpoint: 767px;

.page-index-hero {
  background-image: url("/images/page-index/hero.png");
  background-size: contain;

  .logo-wrapper {
    padding: $medium-padding;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
    height: 200px;
    width: 200px;
    vertical-align: middle;

    img {
      width: 120px;
      height: 84px;
    }

    @media (max-width: $mobile-media-breakpoint) {
      display: none !important;
    }
  }

  .content {
    vertical-align: middle;

    .section-columns {
      @media (max-width: 900px) {
        /* Switch to a vertical layout */
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
      }
    }
  }
}

.page-index-features {
  .feature {
    color: white;

    img {
      width: 100%;
      display: block;
    }

    h2 {
      font-size: 20px;
    }

    @media (max-width: $mobile-media-breakpoint) {
      margin: 0;
      margin-bottom: $medium-padding;
      margin: auto;

      img {
        display: none;
      }

      h2 {
        font-size: 18px;
      }
    }
  }
}

.page-index-examples .subsection {
  .example-code {
    min-width: 60%;

    @media (max-width: $mobile-media-breakpoint) {
      width: 100%;
      margin-bottom: $medium-padding;
    }

    /* Override the very opinionated and specific highlight.js style */
    pre {
      background-color: #f5f6f7 !important;
      padding: 0 !important;
    }
  }

  .example-google-map iframe {
    height: 232px;
  }
  .example-contact-card iframe {
    height: 72px;
  }
  .example-friend-list iframe {
    height: 452px;

    @media (max-width: $mobile-media-breakpoint) {
      height: 232px;
    }
  }
}

.page-index-getting-started {
  p {
    margin-right: $small-padding;
  }
}

.page-index-who {
  text-align: center;

  .who-example-panel {
    margin: 60px auto 0 auto;
    max-width: calc(12 * 70px);

    @media (max-width: $mobile-media-breakpoint) {
      margin-top: 60px;
    }

    .who-example {
      width: 70px;
      height: 70px;
      margin: 0 35px 70px 35px;
      background: #d7d8d8;
    }
  }
}

.page-index-browsers {
  margin-top: $medium-padding;

  img {
    width: 70px;
    height: 70px;
    margin: $small-padding;

    @media (max-width: $mobile-media-breakpoint) {
      width: 40px;
      height: 40px;
      margin: 10px;
    }
  }
}

.page-index-articles {
  .post {
    &:not(:last-child) {
      border-bottom: 1px solid #d81b60;
      margin-bottom: $small-padding;
    }

    .post-title {
      font-size: $font-size-medium;
      color: #7394e9;
      text-decoration: none;
    }
  }
}
