$small-padding: 20px;
$medium-padding: 40px;
$large-padding: 100px;

$mobile-media-breakpoint: 767px;

main {
  background: #fafafa;
  padding: $medium-padding;
  max-width: 1000px;

  font-size: 15px;
  font-family: 'Roboto', 'Noto', sans-serif;
  line-height: 24px;

  @media (max-width: 500px) {
    padding-left: $small-padding;
    padding-right: $small-padding;
  }
}

pre {
  background: white;
}

code {
  color: #0D47A1;
}

h2 {
  border-bottom: 1px solid #f52757;
}

h3 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 24px;

  @media (max-width: 500px) {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: #3367d6;
}

.alert {
  padding: 20px;
  margin: 30px;
  border-radius: 3px;

  &:before {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }

  strong {
    vertical-align: middle;  
  }

  &.alert-success, &.alert-tip {
    background-color: #c8e6c9;

    &:before {
      content: url(/images/alerts/tip.svg);
    }
  }

  &.alert-info {
    background-color: #b3e5fc;

    &:before {
      content: url(/images/alerts/info.svg);
    }
  }

  &.alert-error, &.alert-warning {
    background-color: #ffcdd2;

    &:before {
      content: url(/images/alerts/warning.svg);
    }
  }

}
