$small-padding: 20px;
$medium-padding: 40px;
$large-padding: 100px;

$mobile-media-breakpoint: 767px;
$pink: #f52757;

main {
  background: #eceff1;
  padding: $medium-padding;
  max-width: 1000px;

  @media (max-width: 500px) {
    padding-left: $small-padding;
    padding-right: $small-padding;
  }
}

pre {
  background: white;
}

code {
  color: #0D47A1;
}

h2 {
  border-bottom: 1px solid $pink;
}

h3 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 24px;

  @media (max-width: 500px) {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: #3367d6;
}

.alert {
  border: 1px solid #eee;
  padding: 20px;
  margin: 30px;

  &.alert-error, &.alert-warning {
    border-color: $pink;
    fill: $pink;
  }

  strong {
    color: $pink;
  }
}
