<element name="tk-twoway-binding" attributes="selected">
<link rel="component" href="/toolkitchensink/toolkit/components/g-panels.html">
<link rel="component" href="/toolkitchensink/toolkit/components/g-tabs.html">
<template>
  <g-tabs id="tab1" on-select="showPanel" selected="{{selected}}">
    <p>One</p>
    <p>Two</p>
    <p>Three</p>
    <p>Four</p>
  </g-tabs>
  <g-panels id="panel1" selected="{{selected}}">
    <p>Panel 1</p>
    <p>Panel 2</p>
    <p>Panel 3</p>
    <p>Panel 4</p>
    </g-panels>
    <style>
    g-panels {
      height: 150px;
    }
    </style>
</template>
<script>
  this.component({
    showPanel: function(event, detail, sender) {
    }
  });
</script>
</element>