<element name="tk-twoway-binding" attributes="selected">
  <link rel="import" href="/toolkit/components/g-panels.html">
  <link rel="import" href="/toolkit/components/g-tabs.html">
  <template>
    <style>
      g-panels {
        height: 150px;
      }
    </style>
    <g-tabs id="tab1" on-select="showPanel" selected="{{selected}}">
      <p>One</p>
      <p>Two</p>
      <p>Three</p>
      <p>Four</p>
    </g-tabs>
    <g-panels id="panel1" selected="{{selected}}">
      <p>Panel 1</p>
      <p>Panel 2</p>
      <p>Panel 3</p>
      <p>Panel 4</p>
    </g-panels>
  </template>
  <script>
    Toolkit.register(this, {
      showPanel: function(event, detail, sender) {
        //...
      }
    });
  </script>
</element>