body,h3 {
  margin: 0;
}

.badge-blue,.badge-white {
  width: 300px;
  height: 300px;
}

body {
  font-family: Roboto,sans-serif;
  background: #f2f2f2;
  color: #000;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -.01em;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

p {
  line-height: 36px;
}

h3 {
  font-size: 32px;
  line-height: 48px;
  padding: 0;
}

.bottom-spacer {
  margin-bottom: 24px;
}

.dot-separator {
  padding: 0 8px;
}

.dot-separator::after {
  content: '\2022';
}

.date-loc-banner::after,.home-bottom-banner::after,.pink-arrow-btn::after {
  content: '';
}

.badge-blue {
  background: url(../images/badge_blue.png) center center no-repeat;
  background-size: contain;
}

.badge-white {
  position: relative;
  background: url(../images/badge_white.png) center center no-repeat;
  background-size: contain;
}

.badge-blue-small {
  width: 100px;
  height: 60px;
  background: url(../images/badge_blue_small.png) center center no-repeat;
  background-size: contain;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  background: url(../images/polymer.svg) 50% no-repeat;
  background-size: contain;
}

.main-header {
  background-color: #4FB6F7;
}

.header-layout:not([page=home])>.main-header {
  background-color: #fff;
}

.header-layout:not([page=home]) .tab:not(.iron-selected) {
  color: #4FB6F7;
  border-color: #eee;
}

.header-layout[page="home"] .toolbar-badge,
.header-layout[page="home"] .header-tools a,
.header-layout[page="home"] .menu-icon {
  outline-color: #fff;
}

.header-layout[page="home"] .tab:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.header-layout:not([page="home"]) .tab:focus {
  background-color: rgba(79, 182, 247, 0.2);
}

.header-layout:not([page=home]) .tab.iron-selected {
  border-color: #FC6C9C;
}

.header-layout:not([page=home]) .home-page-only,.header-layout[page=home] .home-page-hidden {
  display: none!important;
}

.main-toolbar {
  position: relative;
  height: 80px;
}

.toolbar-badge {
  position: absolute;
  left: 24px;
  top: 10px;
  transition: opacity .1s,visibility .1s;
}

.header-tools {
  position: absolute;
  right: 12px;
  top: 8px;
}

.header-social-icon {
  padding: 18px 12px;
  color: #147BCC;
}

/*.header-layout[page=home] .main-header:not([threadhold-matches]) .toolbar-badge {
  opacity: 0;
  visibility: hidden;
}*/

.tab {
  padding: 12px 8px;
  margin: 0 16px;
  font-size: 18px;
  font-weight: 600;
  color: #147BCC;
  border-bottom: 2px solid #147BCC;
  outline-width: 0;
}

.menu-icon {
  height: 32px!important;
  width: 32px!important;
  padding: 16px;
  color: #147BCC;
  cursor: pointer;
}

.nav {
  background-color: #1F2036;
  padding: 56px 24px 24px;
}

.menu-item {
  display: inline-block;
  padding: 8px 0;
  margin-bottom: 24px;
  color: #fff;
  border-bottom: 2px solid;
  opacity: .5;
  outline-color: #fff;
}

.menu-item.iron-selected {
  opacity: 1;
  border-color: #FC6C9C;
}

.home-header {
  height: 420px;
  background-color: #4FB6F7;
}

.home-header-livestream {
  background-color: #4FB6F7;
}

.livestream-container {
  margin: 0 auto;
  max-width: 720px;
  padding: 24px 16px;
}

.blue-banner {
  background: url(../images/Angle_Pattern/Lt_Blue_BG/Summit_AnglePattern_Blue_Sm.png) center center,url(../images/Angle_Pattern/Lt_Blue_BG/Summit_AnglePattern_Blue_Lg.png) center center #147BCC;
  background-size: 630px 305px,512px 300px;
}

.date-loc-banner,.speakers-banner {
  position: relative;
  padding: 48px 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

.speakers-banner {
  font-weight: 300;
}

.date-loc-banner::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 16px 0;
  border: 2px solid #fff;
  border-right: none;
  border-left: none;
}

.welcome-msg {
  max-width: 600px;
  padding: 64px 16px;
  margin: 0 auto;
  line-height: 32px;
}

.welcome-msg time {
  min-width: 150px;
  font-weight: 600;
}

.wait-list-banner {
  position: relative;
  padding: 24px 16px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  line-height: 46px;
  color: #fff;
  background: url(../images/Pink_BG_Pattern/Desktop/Summit_PinkBGPattern_Left.png) center left repeat-y,url(../images/Pink_BG_Pattern/Desktop/Summit_PinkBGPattern_Right.png) center right repeat-y #FC6C9C;
  background-size: 25%;
}

.pink-arrow-btn {
  display: inline-block;
  position: relative;
  padding: 16px;
  margin: 0 16px;
  background-color: #E45484;
  font-size: 23px;
  line-height: 24px;
}

.amsterdam-bg,.misc-card>.tools>a {
  display: block;
}

.pink-arrow-btn::after {
  position: absolute;
  top: calc(50% - 14px);
  right: -14px;
  width: 0;
  height: 0;
  border-color: transparent #E45484;
  border-width: 14px 0 14px 14px;
  border-style: solid;
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.signup-live-stream-btn {
  margin-right: 24px;
}

.amsterdam-bg {
  position: relative;
  height: 600px;
  background: url(../images/muziekgebouw.jpg) center 0 no-repeat;
  background-size: cover;
}

.amsterdam-scrim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.56);
}

.amsterdam-info h3 {
  padding-bottom: 8px;
  margin: 16px 0;
  border-bottom: 2px solid;
}

.getting-there h3 {
  color: #147BCC;
}

.amsterdam-info section {
  max-width: 400px;
}

.about-waterfront {
  padding: 48px 24px 24px 16px;
  color: #147BCC;
}

.about-waterfront h3 {
  color: #4FB6F7;
}

.getting-there {
  padding: 48px 8px 24px 24px;
  background-color: #4FB6F7;
  color: #fff;
}

.getting-there .direction {
  font-size: 18px;
  margin-bottom: 16px;
}

.direction a {
  border-bottom: 1px dotted #fff;
  outline-color: #fff;
}

.misc-banner {
  padding: 24px 16px;
  text-align: center;
  background: url(../images/Angle_Pattern/DkBlue_Royal_Footer/Summit_AnglePattern_Sm.png) center center,url(../images/Angle_Pattern/DkBlue_Royal_Footer/Summit_AnglePattern_Md.png) center center,url(../images/Angle_Pattern/DkBlue_Royal_Footer/Summit_AnglePattern_Lg.png) center center #1F1F35;
  background-size: 420px 210px,600px 300px,600px 600px;
}

.misc-banner>h3 {
  color: #fff;
}

.misc-banner>.divider {
  width: 200px;
  padding-top: 24px;
  margin: 0 auto 24px;
  border-bottom: 2px solid #4FB6F7;
}

.misc-banner>.desc {
  color: #4FB6F7;
  text-align: center;
  font-size: 28px;
  line-height: 36px;
  font-style: italic;
}

.misc-card {
  max-width: 900px;
  margin: 120px 32px;
  padding: 32px;
  color: #147BCC;
  background-color: #fff;
}

.misc-card h3 {
  color: #4FB6F7;
}

.misc-card-content {
  margin-right: 24px;
}

.misc-card>.tools {
  min-width: 400px;
}

.misc-card paper-button {
  width: 100%;
  text-transform: none;
}

paper-button.anchor-button {
  margin: 0;
}

.anchor-button.blue {
  background-color: #4FB6F7;
  color: #fff;
}

.anchor-button.red {
  background-color: #FC6C9C;
  color: #fff;
}

.anchor-button.blue[focused] {
  background: #fff;
  color: #4FB6F7;
}

.anchor-button.red[focused] {
  background: #fff;
  color: #FC6C9C;
}

.extended-gplus-link {
  margin-right: 16px;
}

.extended-icon {
  margin-right: 4px;
}

.codelabs {
  margin: 48px;
}

.home-bottom-banner {
  position: relative;
  height: 360px;
}

.home-bottom-banner::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 16px 0;
  border: 2px solid #4FB6F7;
  border-right: none;
  border-left: none;
}

.footer-inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px 16px;
  font-size: 18px;
  color: #147BCC;
  line-height: 48px;
}

.footer-inner .title {
  font-size: 20px;
  color: #333;
}

schedule-grid,speakers-grid {
  min-height: 90vh;
}

@media (min-width: 801px) {
  .narrow-only {
    display:none!important;
  }
}

@media (max-width: 800px) {
  .responsive.horizontal.layout {
    -ms-flex-direction:column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .responsive.horizontal.layout:not(.center):not(.center-center) {
    display: block;
  }

  .wide-only {
    display: none!important;
  }

  .date-loc-banner>.location,.wait-list-banner>h3 {
    margin-bottom: 16px;
  }

  .wait-list-banner>:first-child {
    margin-bottom: 24px;
  }

  .speakers-banner {
    padding: 24px 0 8px;
  }

  .about-waterfront,.getting-there,.misc-card {
    padding: 16px;
  }

  .speakers-banner>* {
    margin-bottom: 16px;
  }

  .about-waterfront>section,.getting-there>section {
    width: 400px;
  }

  .codelabs {
    margin: 0;
  }

  .misc-card {
    margin: 16px;
  }

  paper-material[elevation].misc-card {
    box-shadow: none;
  }

  .misc-card-content {
    margin: 0;
  }

  .misc-card>.tools {
    min-width: 0;
  }

  .wait-list-banner {
    background: url(../images/Pink_BG_Pattern/Mobile/Summit_PinkBGMobile.png) center center #FC6C9C;
    background-size: cover;
  }
}

@media (max-width: 420px) {
  .welcome-msg {
    padding:32px 16px;
  }

  .amsterdam-bg {
    height: 400px;
  }

  .amsterdam-info section {
    width: 100%;
  }

  .amsterdam-info h3 {
    font-size: 30px;
  }

  .misc-card {
    margin: 0;
    padding: 16px;
  }
}

@media (min-width: 1600px) {
  .amsterdam-bg {
    height: 960px;
  }
}

@media (-webkit-min-device-pixel-ratio:2) and (min-resolution: 192dpi) {
  .badge-blue {
    background:url(../images/badge_blue@2x.png) center center no-repeat;
    background-size: contain;
  }

  .badge-white {
    background: url(../images/badge_white@2x.png) center center no-repeat;
    background-size: contain;
  }

  .badge-blue-small {
    background: url(../images/badge_blue_small@2x.png) center center no-repeat;
    background-size: contain;
  }

  .blue-banner {
    background: url(../images/Angle_Pattern/Lt_Blue_BG/Summit_AnglePattern_Blue_Sm@2x.png) center center,url(../images/Angle_Pattern/Lt_Blue_BG/Summit_AnglePattern_Blue_Lg@2x.png) center center #147BCC;
    background-size: 630px 305px,512px 300px;
  }

  .wait-list-banner {
    background: url(../images/Pink_BG_Pattern/Desktop/Summit_PinkBGPattern_Left@2x.png) center left repeat-y,url(../images/Pink_BG_Pattern/Desktop/Summit_PinkBGPattern_Right@2x.png) center right repeat-y #FC6C9C;
    background-size: 25%;
  }

  .misc-banner {
    background: url(../images/Angle_Pattern/DkBlue_Royal_Footer/Summit_AnglePattern_Sm@2x.png) center center,url(../images/Angle_Pattern/DkBlue_Royal_Footer/Summit_AnglePattern_Md@2x.png) center center,url(../images/Angle_Pattern/DkBlue_Royal_Footer/Summit_AnglePattern_Lg@2x.png) center center #1F1F35;
    background-size: 420px 210px,600px 300px,600px 600px;
  }
}

@media (max-width: 800px) and (-webkit-min-device-pixel-ratio:2) and (min-resolution:192dpi) {
  .wait-list-banner {
    background:url(../images/Pink_BG_Pattern/Mobile/Summit_PinkBGMobile@2x.png) center center #FC6C9C;
    background-size: cover;
  }
}
