{% extends "templates/base-blog.html" %}

{% set markdown = 'true' %}

{% block title %}<%= title %>{% endblock %}

{% block content %}

<link rel="stylesheet" href="/css/page-md.css">
<%= content %>

{% endblock %}
