{% extends "templates/base-blog.html" %}

{% set markdown = 'true' %}

{% block title %}<%= title %>{% endblock %}

{% block content %}
{% include 'templates/page-md-styles.html' %}
<%= content %>
{% endblock %}
