<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta name="google-site-verification" content="k0e8DrbD40s54xHNBqwIsRrSSAkZoprwtEYDnNY06bU" />
<meta name="google-site-verification" content="pnjjbQFvjPwaWhEXY6nSyaS9iyghmH-M_yLHBveDX2M">
<meta itemprop="image" content="https://www.polymer-project.org/images/logos/p-logo-32.png">
<meta itemprop="description" content="Polymer is a library that uses the latest web technologies to let you create custom HTML elements. Build anything from a button to a complete application as an encapsulated, reusable component that works across desktop and mobile.">
<meta name="theme-color" content="#1e88e5">
<link rel="manifest" href="/manifest.json">

<link rel="publisher" href="https://plus.google.com/107187849809354688692">
<link rel="shortcut icon" href="/images/logos/p-logo-32.png">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Roboto+Slab:300,500">

<link rel="stylesheet" href="/css/site.css">

<!-- Load hljs before pw-shell in elements.html tries to use it. -->
<script src="/bower_components/highlight/highlight.js" async></script>

<script>
  window.Polymer = window.Polymer || {dom: 'shadow', lazyRegister: true};
</script>
<!-- Node: the webcomponents polyfill is lazily loaded in app.js -->
<link rel="import" href="/elements/pw-shell.html">
<style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors"></style>
