{% extends "templates/base-devguide.html" %}

{% set markdown = 'true' %}
{% set title = "<%= title %>" %}
{% set subtitle = "<%= subtitle %>" %}

{% block title %}<%= title %>{% endblock %}

{% block content %}
{% include 'templates/page-md-styles.html' %}
<%= content %>
{% endblock %}
