<style>
  main {
    position: relative;
    background: white;
    padding: 10px 40px;
    font-size: 16px;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 24px;
    font-weight: 300;
    /* layout horizontal-reverse */
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  @media (max-width: 1000px) {
    main {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      /* At < 1000px, the TOC floats to the top, so we can add back the right-padding. */
      padding-right: 40px;
    }
  }

  @media (max-width: 500px) {
    main {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  article {
    min-width: 0;  /* For some reason, this is non-0 */
    max-width: 800px;
    padding-right: 20px;
  }

  .article-wrapper.right-nav {
    width: calc(100% - 300px);  /* 300px is the width of the TOC */
  }

  .details-wrapper {
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 20px;
    width: 300px;
  }

  .details-wrapper.fixed {
    position: fixed;
    right: 40px;  /* The <main> right padding */
  }

  .details-wrapper ul {
    list-style-type: none;
    font-size: 14px;
    margin: 0;
  }

  .details-wrapper ul[data-depth="1"], .details-wrapper ul[data-depth="3"] {
    padding: 0;
    margin-top: 10px;
  }

  .details-wrapper ul[data-depth="1"] a, .details-wrapper ul[data-depth="3"] a {
    color: black;
    font-weight: 500;
  }

  .details-wrapper ul[data-depth="2"] {
    font-weight: 300;
    padding: 0 20px;
  }

  .details-wrapper ul[data-depth="2"] a {
    font-weight: 300;
  }

  @media (max-width: 1000px) {
    .details-wrapper {
      padding: 0;
      max-width: 100%;
    }
  }

  details {
    display: block;
    will-change: transform;
  }

  @media (min-width: 1001px) {
    details {
      padding-left: 20px;
      border-left: 1px solid black;
    }
  }

  details summary {
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  @media (max-width: 1000px) {
    details summary::-webkit-details-marker {
      display: inline-block;
    }
  }

  pre {
    background: white;
    font-weight: 400;
  }

  h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
  }

  h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #f50057;
    margin: 20px 0;
  }

  h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
  }

  @media (max-width: 500px) {
    h3 {
      font-size: 18px;
    }
  }

  h4, p.caption {
    font-size: 16px;
    font-weight: 500;
  }

  p.caption {
    margin-bottom: 0;
  }

  a > code {
    color: #1e88e5 !important;
  }

  table {
    border-collapse: collapse;
  }

  table th {
    text-align: left;
    padding: 12px 12px 12px 0px;

  }

  table td {
    padding: 12px 12px 12px 0px;
    border-top: 1px solid #cfd8dc;
    /* blue-grey-100 */
    vertical-align: top;
  }

  .alert {
    padding: 10px 10px 10px 44px;  /* 34px from the icon + 10px left padding */
    margin: 30px;
    border-radius: 3px;
    font-size: 15px;
  }

  @media (max-width: 767px) {
    .alert {
      margin: 0px;
    }
  }

  .alert:before {
    display: inline-block;  /* Hack to have the icon in a separate column than the text */
    float: left;
    margin-left: -34px;  /* the icon is 24px wide, + 10px padding */
  }

  .alert.alert-success, .alert.alert-tip {
    background-color: #E8F5E9;
    border: 1px solid #C8E6C9;
  }

  .alert.alert-success:before, .alert.alert-tip:before {
    content: url(/images/alerts/tip.svg);
  }

  .alert.alert-info {
    background-color: #E1F5FE;
    border: 1px solid #B3E5FC;
  }

  .alert.alert-info:before {
    content: url(/images/alerts/info.svg);
  }

  .alert.alert-error, .alert.alert-warning {
    background-color: #FBE9E7;
    border: 1px solid #FFCCBC;
  }

  .alert.alert-error:before, .alert.alert-warning:before {
    content: url(/images/alerts/warning.svg);
  }

  /* Helpers to automagically lay out in a row and resize images */
  .image-container {
    width: 100%;
    max-width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .image-container .image-wrapper {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 10px;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }
</style>
