{% extends "templates/base-devguide.html" %}

{% set markdown = 'true' %}
{% set title = "<%= title %>" %}
{% set subtitle = "<%= subtitle %>" %}

{% block title %}<%= title %>{% endblock %}

{% block content %}

<link rel="stylesheet" href="/css/page-md.css">

<%= content %>
{% endblock %}
