<div class="site-nav">
  <img src="/images/logos/p-logo.png" alt="Polymer Logo">
  {% if versioned_paths %}
    <pw-version-selector
        active-docs-version="{{{polymer_version_dir}}}"
        v1-page-link="{{{versioned_paths[0]}}}"
        v2-page-link="{{{versioned_paths[1]}}}"></pw-version-selector>
    {% else %}
    <pw-version-selector></pw-version-selector>
  {% endif %}

  {% if site_nav %}
    {% for section in site_nav %}
      <a class="level-1"
         href="{{{section.path}}}"
         name="{{{section.path}}}"
         data-version="{{{section.version}}}">
         <span>{{{section.section}}}</span>

         {% if 'items' in section %}
         <paper-icon-button icon="icons:expand-more"
            onclick="_expandClicked(event)">
         </paper-icon-button>
         {% endif %}
       </a>

      {% if 'items' in section %}
        <iron-collapse class="">
          {% for item in section['items'] %}
            {% if 'header' in item %}
              <a class="level-2" onclick="_expandClicked(event)">
                 <span>{{{item.header}}}</span>
                 <paper-icon-button icon="icons:expand-more"></paper-icon-button>
              </a>
              <iron-collapse>
            {% elif 'endheader' in item %}
              </iron-collapse>
            {% elif 'title' in item %}
              <a class="level-2 {{{item.indent}}}"
                 href="{{{item.path}}}"
                 name="{{{item.path}}}">
                 <span>{{{item.title}}}</span>
              </a>
            {% endif %}
          {% endfor %}
        </iron-collapse>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

<script>
function _expandClicked(event) {
  var navLink = Polymer.dom(event).localTarget.parentNode;
  var navCollapse = navLink.nextElementSibling;

  document.querySelector('pw-shell').styleLinkPath(navLink, !navCollapse.opened);

  // Don't actually click the link.
  event.preventDefault();
  event.stopImmediatePropagation();
}
</script>
