<demo-tabs selected="0">
  <demo-tab heading="HTML">
{% highlight html %}
{% include_external samples/layout-elements/drawer-app.html html %}
{% endhighlight %}
  </demo-tab>
  <demo-tab heading="JS">
{% highlight html %}
{% include_external samples/layout-elements/drawer-app.html javascript %}
{% endhighlight %}
  </demo-tab>
  <demo-tab heading="CSS">
{% highlight html %}
{% include_external samples/layout-elements/drawer-app.html styles %}
{% endhighlight %}
  </demo-tab>
  <demo-tab heading="Imports">
{% highlight html %}
{% include_external samples/layout-elements/drawer-app.html imports %}
{% endhighlight %}
  </demo-tab>
</demo-tabs>
