<link rel="import" href="/samples/0.8/components/proto-element/proto-element.html">

<!-- <link rel="import" href="/elements/demo-tabs.html"> -->

<demo-tabs selected="0"
           demoSrc="/samples/0.8/components/proto-element/manifest.json">
  <demo-tab heading="proto-element.html">
{% highlight html %}
{% include_external samples/0.8/components/proto-element/proto-element.html %}
{% endhighlight %}
  </demo-tab>
  <demo-tab heading="index.html">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <script src="webcomponents.js"></script>
    <link rel="import" href="proto-element.html">
  </head>
  <body>
    <proto-element></proto-element>
  </body>
</html>
{% endhighlight %}
  </demo-tab>
  <div class="result">
    <proto-element></proto-element>
  </div>
</demo-tabs>

