<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Organization">
<head>
{% include head.html %}
</head>
<body id="{{page.title | downcase | replace:' ','-' }}" unresolved>

{% comment %}
{% include top-nav.html %}
{% endcomment %}

<main id="content-container">

  <aside id="sidebar" class="main-bg">
    <a href="/"><img src="/images/logos/lockup.svg"></a>
    <docs-menu></docs-menu>
  </aside>
  <scroll-area>
    <site-banner type="core">
      <app-bar class="bar">
        <a href="#" class="paper-button" borderless sink>Start</a>
        <a href="#" class="paper-button" borderless sink>Reference</a>
        <a href="#" class="paper-button" borderless sink>Community</a>
        <a href="#" class="paper-button" borderless sink>Support</a>
        <a href="#" class="paper-button" borderless sink>News</a>
        <polymer-ui-icon src="/images/picons/ic_search_light_.png"></polymer-ui-icon>
      </app-bar>
      <header>
        <h1>Core</h1>
        <summary>Learn more about {{site.project-title}}'s next-generation framework.</summary>
      </header>
    </site-banner>

    {% comment %}
      Allow individual pages to turn off permalinks
    {% endcomment %}
    {% capture permalinks_class %}
      {% if site.add_permalinks %}
        {% case page.add_permalinks %} 
          {% when true %} 
            show-permalinks
          {% when false %}
            {% comment %}
              Intentionally empty in case variable isn't defined in page.
            {% endcomment %}
          {% else %} 
            show-permalinks 
        {% endcase %} 
      {% endif %}
    {% endcapture %}

    <article class="{{permalinks_class}}">
      {% include edit_on_github.html %}

      {% if page.title %}
      <div class="page-header">
        <h1>{{page.title}}</h1>
        {% if page.subtitle %}
          <h1><small>{{page.subtitle}}</small></h1>
        {% endif %}
      </div>
      {% endif %}
    
      {{content}}
    </article>

  </scroll-area>

</main>

{% include footer.html %}

</body>
</html>


{% comment %}
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Organization">
<head>
{% include head.html %}
</head>
<body id="{{page.title | downcase | replace:' ','-' }}">

{% include top-nav.html %}

<div class="container-fluid">
  <div class="row-fluid">
    {% include left-nav.html %}
    <div class="span8" id="content-container">

      {% include edit_on_github.html %}

      {% if page.title %}
      <div class="page-header">
        <h1>{{page.title}}</h1>
        {% if page.subtitle %}
          <h1><small>{{page.subtitle}}</small></h1>
        {% endif %}
      </div>
      {% endif %}

      {% comment %}
        Allow individual pages to turn off permalinks
      {% endcomment %}
      {% capture permalinks_class %}
        {% if site.add_permalinks %}
          {% case page.add_permalinks %} 
            {% when true %} 
              show-permalinks
            {% when false %}
              {% comment %}
                Intentionally empty in case variable isn't defined in page.
              {% endcomment %}
            {% else %} 
              show-permalinks 
          {% endcase %} 
        {% endif %}
      {% endcapture %}

      <div id="content" class="{{permalinks_class}}">{{content}}</div>
    </div>
    <footer class="span8">
      <hr>
      <div>
        <div>&copy; 2013 {{site.project_title}} Authors.<br>Code licensed under the <a href="https://github.com/polymer/polymer/blob/master/LICENSE" target="_blank">BSD License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</div>
      </div>
      <div id="logo-row">
        <img src="/images/logos/webcomponents.png" alt="Web Components" title="Web Components">
        <img src="/images/logos/html5logo.svg" alt="HTML5" title="HTML5">
        <img src="/images/logos/js.jpg" alt="JavaScript" title="JavaScript">
      </div>
    </footer>
  </div>
</div>

{% include footer.html %}

</body>
</html>
{% endcomment %}