<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Organization">
<head>
{% include head.html %}
</head>
<body id="{{page.title | downcase | replace:' ','-' }}" unresolved>

<scroll-area>
  <site-banner class="main-bg bar sticky">
    <polymer-flex-layout align="center" justify="start"></polymer-flex-layout>
    <a href="/" flexbox><img src="/images/logos/lockup.svg"></a>
    {% include top-nav.html %}
  </site-banner>

  <main>{{content}}</main>
</scroll-area>

{% include footer.html %}

</body>
</html>
