<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Organization">
<head>
{% include head.html %}
</head>
<body id="{{page.title | downcase | replace:' ','-' }}">

<scroll-area>
  <site-banner class="main-bg bar sticky" layout horizontal center start unresolved>
    <a href="/" class="logo" layout horizontal><img src="/images/logos/lockup.svg" alt="Polymer home"></a>
    {% include top-nav-1-0.html %}
    <core-icon id="dropdown-toggle" icon="arrow-drop-down"></core-icon>

    {% include dropdown-panel-1-0.html %}
  </site-banner>

  <main>{{content}}</main>

  {% include footer.html %}

</scroll-area>

</body>
</html>
