/* line 3, ../../sass/elements/app-bar.scss */
:host { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -webkit-box-pack: flex-end; -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; -o-justify-content: flex-end; justify-content: flex-end; -webkit-box-flex: 1; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; background: inherit; z-index: 100; font-size: 14px; color: #000; }

/* line 16, ../../sass/elements/app-bar.scss */
:host([theme="light"]:host) { color: inherit; }

/* line 20, ../../sass/elements/app-bar.scss */
:host(site-banner) { right: 0; top: 0; position: absolute; }

/* line 25, ../../sass/elements/app-bar.scss */
:ancestor(site-banner) { right: 0; top: 0; position: absolute; }

/* line 31, ../../sass/elements/app-bar.scss */
:host(.fixed:host) { position: fixed; }

/* line 35, ../../sass/elements/app-bar.scss */
polymer-ui-icon { margin-left: 10px; width: 24px !important; height: 24px !important; background-size: 48px !important; opacity: 0.6; }

/* @polyfill :host a */
/* line 45, ../../sass/elements/app-bar.scss */
::content a { opacity: 0.6; }

/* line 49, ../../sass/elements/app-bar.scss */
#menu { display: none; }

@media only screen and (max-width: 800px) { /* line 54, ../../sass/elements/app-bar.scss */
  :host { -webkit-box-pack: space-between; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; width: 100%; }
  /* line 59, ../../sass/elements/app-bar.scss */
  polymer-ui-icon { margin: 0; }
  /* line 63, ../../sass/elements/app-bar.scss */
  app-bar a { display: none; }
  /* line 67, ../../sass/elements/app-bar.scss */
  #menu { display: inline-block; } }
