/* line 3, ../../sass/_typography.scss */
h1, h2, h3, h4, h5 { font-weight: 300; letter-spacing: -0.01em; line-height: 48px; margin: 0; }

/* @polyfill h1 */
/* line 12, ../../sass/_typography.scss */
h1, ::content h1 { font-size: 40px; }

/* @polyfill h2 */
/* line 19, ../../sass/_typography.scss */
h2, ::content h2 { font-size: 24px; }

/* @polyfill h3 */
/* line 25, ../../sass/_typography.scss */
h3, ::content h3 { font-size: 20px; }

/* @polyfill h4 */
/* line 31, ../../sass/_typography.scss */
h4, ::content h4 { font-size: 16px; font-weight: 600; }

/* @polyfill h5 */
/* line 38, ../../sass/_typography.scss */
h5, ::content h5 { font-size: 12px; font-weight: 600; }

/* line 5, ../../sass/polymer.scss */
.platform { color: #9f499b; }

/* line 10, ../../sass/polymer.scss */
.elements-using { color: #5c6bc0; }

/* line 15, ../../sass/polymer.scss */
.elements-creating { color: #d61a7f; }

/* line 20, ../../sass/polymer.scss */
.main-bg { background-color: #eeeeee; }

/* line 24, ../../sass/polymer.scss */
.main-purple { background-color: #1f2036; }

/* line 28, ../../sass/polymer.scss */
code, pre { color: #9f499b; }

/* line 33, ../../sass/polymer.scss */
.prettyprint { background-color: #fafafa; padding: 16px; margin: 30px 0; }
/* line 39, ../../sass/polymer.scss */
.prettyprint .typ { color: #6b499f; }
/* line 43, ../../sass/polymer.scss */
.prettyprint .pun { color: #5c6bc0; }
/* line 46, ../../sass/polymer.scss */
.prettyprint .str { color: #ff4081; }
/* line 49, ../../sass/polymer.scss */
.prettyprint .pln { color: #7986cb; }
/* line 52, ../../sass/polymer.scss */
.prettyprint .kwd { color: #d61a7f; }
/* line 58, ../../sass/polymer.scss */
.prettyprint .atn { color: #6b499f; }
/* line 61, ../../sass/polymer.scss */
.prettyprint .atv { color: #7986cb; }
/* line 64, ../../sass/polymer.scss */
.prettyprint .com { color: #8a8a8a; }

/* line 5, ../../sass/elements/app-bar.scss */
:host { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -webkit-box-pack: flex-end; -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; -o-justify-content: flex-end; justify-content: flex-end; -webkit-box-flex: 1; -webkit-flex: 1 0 auto; -moz-flex: 1 0 auto; -ms-flex: 1 0 auto; -o-flex: 1 0 auto; flex: 1 0 auto; z-index: 100; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 14px; color: #000; }

/* line 18, ../../sass/elements/app-bar.scss */
:host([theme="light"]) { color: inherit; }

/* line 23, ../../sass/elements/app-bar.scss */
:ancestor(site-banner[navgroup="start"], site-banner[navgroup="resources"], site-banner[navgroup="community"]) ::content .active, :ancestor(site-banner[navgroup="start"], site-banner[navgroup="resources"], site-banner[navgroup="community"]) ::content .paper-button:hover { box-shadow: 0 1px 1px black inset, 0 -1px 1px black inset, 0 2px 0px black inset; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0.8))); background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 40%); background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 40%); background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 40%); background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 40%); }

/* @polyfill-unscoped-rule site-banner[navgroup="start"] app-bar .active, site-banner[navgroup="resources"] app-bar .active, site-banner[navgroup="community"] app-bar .active, site-banner[navgroup="start"] app-bar .paper-button:hover, site-banner[navgroup="resources"] app-bar .paper-button:hover, site-banner[navgroup="community"] app-bar .paper-button:hover { box-shadow: 0 1px 1px rgba(0, 0, 0, 1) inset, 0 -1px 1px rgba(0, 0, 0, 1) inset, 0 2px 0px rgba(0, 0, 0, 1) inset  !important; background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 40%)  !important; background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 40%)  !important; background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 40%)  !important; background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 40%) !important; }*/
/* line 43, ../../sass/elements/app-bar.scss */
:host(.search-on) { left: 0; background: inherit; }

/* line 48, ../../sass/elements/app-bar.scss */
:host([theme="dark"].search-on) { border-bottom: 1px solid rgba(0, 0, 0, 0.14902); box-shadow: #cccccc 0px 1px 5px; }

/* line 53, ../../sass/elements/app-bar.scss */
:host(.fixed) { position: fixed; }

/* line 57, ../../sass/elements/app-bar.scss */
:ancestor(site-banner) { right: 0; top: 0; position: absolute; }

/* line 63, ../../sass/elements/app-bar.scss */
polymer-ui-icon { width: 24px !important; height: 24px !important; background-size: 48px !important; opacity: 0.6; }

/* @polyfill :host a */
/* line 72, ../../sass/elements/app-bar.scss */
::content a { opacity: 0.6; -webkit-box-flex: 1; -webkit-flex: 1 0 auto; -moz-flex: 1 0 auto; -ms-flex: 1 0 auto; -o-flex: 1 0 auto; flex: 1 0 auto; }

/* line 77, ../../sass/elements/app-bar.scss */
#search { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -webkit-box-flex: 1; -webkit-flex: 0 0 auto; -moz-flex: 0 0 auto; -ms-flex: 0 0 auto; -o-flex: 0 0 auto; flex: 0 0 auto; width: 30px; margin-left: 16px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: inherit; }
/* line 88, ../../sass/elements/app-bar.scss */
#search[show] { width: 100%; height: 100%; position: absolute; left: 0; top: 0; padding: 0 16px; margin-left: 0; }
/* line 98, ../../sass/elements/app-bar.scss */
#search[show] input { padding: 10px; visibility: visible; }

/* line 106, ../../sass/elements/app-bar.scss */
input { background-color: inherit; border: none; font-size: 20px; outline: none; padding: 0; color: inherit; -webkit-box-flex: 1; -webkit-flex: 1 0 0; -moz-flex: 1 0 0; -ms-flex: 1 0 0; -o-flex: 1 0 0; flex: 1 0 0; visibility: hidden; }

/* line 118, ../../sass/elements/app-bar.scss */
#menu { display: none; }

@media only screen and (max-width: 800px) { /* line 124, ../../sass/elements/app-bar.scss */
  :host { -webkit-box-pack: space-between; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; width: 100%; background: initial; }
  /* @polyfill :host a */
  /* line 131, ../../sass/elements/app-bar.scss */
  ::content a { display: none; }
  /* line 135, ../../sass/elements/app-bar.scss */
  polymer-ui-icon { margin: 0; }
  /* line 139, ../../sass/elements/app-bar.scss */
  #menu { display: inline-block; } }
