/* line 3, ../../sass/elements/scroll-area.scss */
:host { display: block; }

/* line 7, ../../sass/elements/scroll-area.scss */
:host([sidebar]) { padding-left: 248px; }

/* @polyfill :host:not([sidebar]) app-bar */
/* line 12, ../../sass/elements/scroll-area.scss */
:host(:not([sidebar])) ::content app-bar { -webkit-transform: translate3d(0, 0, 0) !important; transform: translate3d(0, 0, 0) !important; }

/* @polyfill :host.scrolling site-banner */
/* line 18, ../../sass/elements/scroll-area.scss */
:host(.scrolling:host) ::content site-banner { height: 80px; padding-bottom: 0; position: fixed !important; width: 100%; border-bottom: 1px solid rgba(0, 0, 0, 0.15); box-shadow: 0 1px 5px #cccccc; }

/* @polyfill :host.scrolling > article */
/* line 29, ../../sass/elements/scroll-area.scss */
:host(.scrolling:host) ::content > article { padding-top: 310px; }

/* @polyfill :host.scrolling app-bar */
/* line 34, ../../sass/elements/scroll-area.scss */
:host(.scrolling:host) ::content app-bar { /* Note: this number should be updated if the height of of the nav changes */ -webkit-transform: translate3d(0, -80px, 0); transform: translate3d(0, -80px, 0); position: inherit; }

/* @polyfill :host.scrolling app-bar.fixed.down */
/* line 42, ../../sass/elements/scroll-area.scss */
:host(.scrolling:host) ::content app-bar.fixed.down { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

/* @polyfill :host.scrolling app-bar.fixed */
/* line 48, ../../sass/elements/scroll-area.scss */
:host(.scrolling:host) ::content app-bar.fixed { -webkit-transition: -webkit-transform 300ms ease-in-out; transition: -webkit-transform 300ms ease-in-out; }

/* @polyfill :host app-bar.fixed */
/* line 54, ../../sass/elements/scroll-area.scss */
::content app-bar.fixed { position: fixed; }

/* @polyfill :host > article */
/* line 59, ../../sass/elements/scroll-area.scss */
::content > article { padding: 24px 64px; max-width: 912px; overflow: hidden; }
