/* line 3, ../../sass/_typography.scss */
h1, h2, h3, h4, h5 { font-weight: 300; letter-spacing: -0.01em; line-height: 48px; margin: 0; }

/* @polyfill h1 */
/* line 12, ../../sass/_typography.scss */
h1, ::content h1 { font-size: 40px; }

/* @polyfill h2 */
/* line 19, ../../sass/_typography.scss */
h2, ::content h2 { font-size: 24px; }

/* @polyfill h3 */
/* line 25, ../../sass/_typography.scss */
h3, ::content h3 { font-size: 20px; }

/* @polyfill h4 */
/* line 31, ../../sass/_typography.scss */
h4, ::content h4 { font-size: 16px; font-weight: 600; }

/* @polyfill h5 */
/* line 38, ../../sass/_typography.scss */
h5, ::content h5 { font-size: 12px; font-weight: 600; }

/* line 5, ../../sass/polymer.scss */
.platform { color: #9f499b; }

/* line 10, ../../sass/polymer.scss */
.elements-using { color: #5c6bc0; }

/* line 15, ../../sass/polymer.scss */
.elements-creating { color: #d61a7f; }

/* line 20, ../../sass/polymer.scss */
.main-bg { background-color: #eeeeee; }

/* line 24, ../../sass/polymer.scss */
.main-purple { background-color: #1f2036; }

/* line 28, ../../sass/polymer.scss */
code, pre { color: #9f499b; }

/* line 33, ../../sass/polymer.scss */
.prettyprint { background-color: #fafafa; padding: 16px; margin: 30px 0; }
/* line 39, ../../sass/polymer.scss */
.prettyprint .typ { color: #6b499f; }
/* line 43, ../../sass/polymer.scss */
.prettyprint .pun { color: #5c6bc0; }
/* line 46, ../../sass/polymer.scss */
.prettyprint .str { color: #ff4081; }
/* line 49, ../../sass/polymer.scss */
.prettyprint .pln { color: #7986cb; }
/* line 52, ../../sass/polymer.scss */
.prettyprint .kwd { color: #d61a7f; }
/* line 58, ../../sass/polymer.scss */
.prettyprint .atn { color: #6b499f; }
/* line 61, ../../sass/polymer.scss */
.prettyprint .atv { color: #7986cb; }
/* line 64, ../../sass/polymer.scss */
.prettyprint .com { color: #8a8a8a; }

/* line 3, ../../sass/elements/scroll-area.scss */
:host { display: block; }

/* line 7, ../../sass/elements/scroll-area.scss */
:host([sidebar]) { padding-left: 265px; }

/* @polyfill :host[sidebar] app-bar.fixed */
/* line 12, ../../sass/elements/scroll-area.scss */
:host([sidebar]) ::content app-bar.fixed { margin-left: 265px; }

/* @polyfill :host:not([sidebar]) app-bar */
/* line 17, ../../sass/elements/scroll-area.scss */
:host(:not([sidebar])) ::content app-bar { -moz-transform: translate3d(0, 0, 0) !important; -webkit-transform: translate3d(0, 0, 0) !important; transform: translate3d(0, 0, 0) !important; }

/* @polyfill :host site-banner */
/* line 24, ../../sass/elements/scroll-area.scss */
::content site-banner { -webkit-transition: box-shadow 200ms ease-in-out; transition: box-shadow 200ms ease-in-out; }

/* @polyfill :host.scrolling site-banner */
/* line 30, ../../sass/elements/scroll-area.scss */
:host(.scrolling) ::content site-banner { height: 80px; padding-bottom: 0; position: fixed !important; width: 100%; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

/* @polyfill :host.scrolling:not(.mobile) > article */
/* line 41, ../../sass/elements/scroll-area.scss */
:host(.scrolling:not(.mobile)) ::content > article { padding-top: 310px; }

/* @polyfill :host.scrolling:not(.mobile) app-bar */
/* line 46, ../../sass/elements/scroll-area.scss */
:host(.scrolling:not(.mobile)) ::content app-bar { /* Note: this number should be updated if the height of of the nav changes */ -moz-transform: translate3d(0, -80px, 0); -webkit-transform: translate3d(0, -80px, 0); transform: translate3d(0, -80px, 0); position: inherit; }

/* @polyfill :host.scrolling app-bar.fixed.down */
/* line 55, ../../sass/elements/scroll-area.scss */
:host(.scrolling) ::content app-bar.fixed.down { -moz-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

/* @polyfill :host.scrolling app-bar.fixed */
/* line 62, ../../sass/elements/scroll-area.scss */
:host(.scrolling) ::content app-bar.fixed { -webkit-transition: -webkit-transform 300ms ease-in-out; transition: -webkit-transform 300ms ease-in-out; -moz-transition: -moz-transform 300ms ease-in-out; }

/* @polyfill :host app-bar.fixed */
/* line 69, ../../sass/elements/scroll-area.scss */
::content app-bar.fixed { position: fixed; }

/* @polyfill :host > article */
/* line 74, ../../sass/elements/scroll-area.scss */
::content > article { padding: 24px 64px; max-width: 912px; min-height: 300px; overflow: hidden; }

@media only screen and (max-width: 800px) { /* line 83, ../../sass/elements/scroll-area.scss */
  :host([sidebar]) { padding-left: 0; }
  /* @polyfill :host > article */
  /* line 88, ../../sass/elements/scroll-area.scss */
  ::content > article { padding-left: 35px; padding-right: 35px; } }
@media only screen and (max-width: 580px) { /* @polyfill :host > article */
  /* line 97, ../../sass/elements/scroll-area.scss */
  ::content > article { padding-top: 70px; } }
