/* line 3, ../../sass/_typography.scss */
h1, h2, h3, h4, h5 { font-weight: 300; letter-spacing: -0.01em; line-height: 48px; margin: 0; }

/* line 13, ../../sass/_typography.scss */
h1 { font-size: 40px; }

/* @polyfill h1 */
/* line 18, ../../sass/_typography.scss */
::content h1 { font-size: 40px; }

/* line 22, ../../sass/_typography.scss */
h2 { font-size: 24px; }

/* @polyfill h2 */
/* line 27, ../../sass/_typography.scss */
::content h2 { font-size: 24px; }

/* line 31, ../../sass/_typography.scss */
h3 { font-size: 20px; }

/* @polyfill h3 */
/* line 36, ../../sass/_typography.scss */
::content h3 { font-size: 20px; }

/* line 40, ../../sass/_typography.scss */
h4 { font-size: 16px; font-weight: 600; }

/* @polyfill h4 */
/* line 46, ../../sass/_typography.scss */
::content h4 { font-size: 16px; font-weight: 600; }

/* line 51, ../../sass/_typography.scss */
h5 { font-size: 12px; font-weight: 600; }

/* @polyfill h5 */
/* line 57, ../../sass/_typography.scss */
::content h5 { font-size: 12px; font-weight: 600; }

/* line 5, ../../sass/polymer.scss */
.platform { color: #9f499b; }

/* line 10, ../../sass/polymer.scss */
.elements-using { color: #5c6bc0; }

/* line 15, ../../sass/polymer.scss */
.elements-creating { color: #d61a7f; }

/* line 20, ../../sass/polymer.scss */
.main-bg { background-color: #eeeeee !important; }

/* line 24, ../../sass/polymer.scss */
.main-purple { background-color: #1f2036; }

/* line 28, ../../sass/polymer.scss */
code, pre { color: #9f499b; }

/* line 33, ../../sass/polymer.scss */
.prettyprint { background-color: #fafafa; padding: 16px; margin: 30px 0; }
/* line 39, ../../sass/polymer.scss */
.prettyprint .typ { color: #6b499f; }
/* line 43, ../../sass/polymer.scss */
.prettyprint .pun { color: #5c6bc0; }
/* line 46, ../../sass/polymer.scss */
.prettyprint .str { color: #ff4081; }
/* line 49, ../../sass/polymer.scss */
.prettyprint .pln { color: #7986cb; }
/* line 52, ../../sass/polymer.scss */
.prettyprint .kwd { color: #d61a7f; }
/* line 58, ../../sass/polymer.scss */
.prettyprint .atn { color: #6b499f; }
/* line 61, ../../sass/polymer.scss */
.prettyprint .atv { color: #7986cb; }
/* line 64, ../../sass/polymer.scss */
.prettyprint .com { color: #8a8a8a; }

/* line 3, ../../sass/elements/site-banner.scss */
:host { background-color: #1f2036; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-box-align: flex-end; -webkit-align-items: flex-end; -moz-align-items: flex-end; -ms-align-items: flex-end; -o-align-items: flex-end; align-items: flex-end; position: relative; z-index: 1; height: 286px; color: white; padding-left: 64px; -webkit-transition: background-color 300ms ease-in; transition: background-color 300ms ease-in; }

/* line 20, ../../sass/elements/site-banner.scss */
:host([type="platform"]) { background-color: #9f499b !important; }

/* line 24, ../../sass/elements/site-banner.scss */
:host([type="core"]) { background-color: #d61a7f !important; }

/* line 28, ../../sass/elements/site-banner.scss */
:host([type="elements"]) { background-color: #5c6bc0 !important; }

/* @polyfill :host header */
/* line 33, ../../sass/elements/site-banner.scss */
::content header { padding: 30px 0 40px 0; width: 100%; }

/* @polyfill header h1 */
/* line 39, ../../sass/elements/site-banner.scss */
::content h1 { font-size: 45px !important; -webkit-transform-origin: 0 0; transform-origin: 0 0; }

/* @polyfill scroll-area:not(.scrolling) h1 */
/* line 47, ../../sass/elements/site-banner.scss */
:ancestor(scroll-area:not(.scrolling)) ::content header h1 { -webkit-transition: -webkit-transform 200ms linear; transition: -webkit-transform 200ms linear; }

/* @polyfill :host header.shrink h1 */
/* line 53, ../../sass/elements/site-banner.scss */
::content header.shrink h1 { -webkit-transform: scale(0.44444); transform: scale(0.44444); }

/* @polyfill :host header.shrink summary */
/* line 59, ../../sass/elements/site-banner.scss */
::content header.shrink summary { visibility: hidden; }

/* @polyfill :host header.shrink */
/* line 64, ../../sass/elements/site-banner.scss */
::content header.shrink { position: fixed; top: 0; pointer-events: none; }

/* @polyfill header a */
/* line 71, ../../sass/elements/site-banner.scss */
::content a { color: currentcolor; }

/* @polyfill header summary */
/* line 76, ../../sass/elements/site-banner.scss */
::content summary { margin-top: 20px; opacity: 0.6; }

@media only screen and (max-width: 580px) { /* line 83, ../../sass/elements/site-banner.scss */
  :host { position: fixed; height: 60px !important; width: 100%; -webkit-box-align: center !important; -webkit-align-items: center !important; -moz-align-items: center !important; -ms-align-items: center !important; -o-align-items: center !important; align-items: center !important; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }
  /* @polyfill :host header */
  /* line 92, ../../sass/elements/site-banner.scss */
  ::content header { display: none; }
  /* @polyfill-rule header#internalheader { display: block; padding: 0; }*/
  /* @polyfill-rule header#internalheader h2 { margin: 0; }*/ }
@media only screen and (max-width: 850px) { /* @polyfill :host #dropdown-toggle */
  /* line 109, ../../sass/elements/site-banner.scss */
  ::content #dropdown-toggle { z-index: 1000; }
  /* @polyfill :host dropdown-panel */
  /* line 114, ../../sass/elements/site-banner.scss */
  ::content dropdown-panel { color: black; } }
