{% extends "templates/base-devguide.html" %}
{% block title %}Tools - Getting started{% endblock %}

{% block content %}

<section class="short blue gradient-light">
  <div>
    <h3>Tools</h3>
    <p>The Polymer team has built modular tools for developing, debugging, and productizing Polymer apps.</p>
  </div>
</section>

<section class="light">
  <div class="section-columns">
    <div>
      <h2 class="underline">Build/Optimization</h2>
      <p>Suspendisse et ex euismod, malesuada ex in, efficitur dui. Etiam cursus dui eget diam fermentum, sit amet sagittis tellus suscipit. Maecenas finibus ante nec risus dapibus luctus. Duis nec suscipit nisi</p>
      <a href="" class="blue-button">See build tools</a>
    </div>

    <div>
      <h2 class="underline">Development</h2>
      <p>Suspendisse et ex euismod, malesuada ex in, efficitur dui. Etiam cursus dui eget diam fermentum, sit amet sagittis tellus suscipit. Maecenas finibus ante nec risus dapibus luctus. Duis nec suscipit nisi</p>
      <a href="" class="blue-button">See development tools</a>
    </div>

    <div>
      <h2 class="underline">Testing</h2>
      <p>Suspendisse et ex euismod, malesuada ex in, efficitur dui. Etiam cursus dui eget diam fermentum, sit amet sagittis tellus suscipit. Maecenas finibus ante nec risus dapibus luctus. Duis nec suscipit nisi</p>
      <a href="" class="blue-button">See testing tools</a>
    </div>
  </div>
</section>

{% endblock %}
