<link rel="import" href="/samples/components/age-slider/age-slider.html">

<!-- <link rel="import" href="/elements/demo-tabs.html"> -->

<demo-tabs selected="0" demoSrc="/samples/components/age-slider">
  <demo-tab heading="age-slider.html">
{% highlight html %}
{% include_external samples/components/age-slider/age-slider.html %}
{% endhighlight %}
  </demo-tab>
  <demo-tab heading="index.html">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <script src="platform.js"></script>
    <link rel="import" href="age-slider.html">
  </head>
  <body>
    <age-slider></age-slider>
  </body>
</html>
{% endhighlight %}
  </demo-tab>
  <div class="result">
    <age-slider></age-slider>
  </div>
</demo-tabs>
