<link rel="import" href="/samples/components/basic-element.html">

<div class="row-fluid">
  <div class="span8">
<!-- Source tabs -->
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#element" data-toggle="tab">my-element.html</a></li>
  <li><a href="#index" data-toggle="tab">index.html</a></li>
</ul>

<!-- Source tab content -->
<div class="tab-content">
  <div class="tab-pane active" id="element">
{% highlight html %}
{% include_external ../samples/components/basic-element.html %}
{% endhighlight %}
  </div>
  <div class="tab-pane" id="index">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <script src="toolkit/platform/platform.js"></script>
    <!-- Load custom element -->
    <link rel="import" href="my-element.html">
  </head>
  <body>
    <!-- Instantiate custom element -->
    <my-element></my-element>
  </body>
</html>
{% endhighlight %}
  </div>
</div>
</div>

<!-- Running sample -->
  <div class="span4">
    <h5>Result</h5>
    <div class="well">
      <my-element></my-element>
    </div>
  </div>
</div>