<link rel="import" href="/samples/components/computed-property.html">

<!-- <link rel="import" href="/elements/demo-tabs.html"> -->

<demo-tabs selected="0">
  <demo-tab heading="square-element.html">
{% highlight html %}
{% include_external samples/components/computed-property.html %}
{% endhighlight %}
  </demo-tab>
  <demo-tab heading="index.html">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <script src="webcomponents.js"></script>
    <link rel="import" href="square-element.html">
  </head>
  <body>
    <square-element></square-element>
  </body>
</html>
{% endhighlight %}
  </demo-tab>
  <div class="result">
    <square-element></square-element>
  </div>
</demo-tabs>
