<link rel="import" href="/samples/components/editable-color-picker/editable-color-picker.html">

<!-- <link rel="import" href="/elements/demo-tabs.html"> -->

<demo-tabs selected="0"
           demoSrc="/samples/components/editable-color-picker/manifest.json">
  <demo-tab heading="editable-color-picker.html">
{% highlight html %}
{% include_external samples/components/editable-color-picker/editable-color-picker.html %}
{% endhighlight %}
  </demo-tab>
  <demo-tab heading="index.html">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <script src="webcomponents.js"></script>
    <link rel="import" href="editable-color-picker.html">
  </head>
  <body>
    <editable-color-picker></editable-color-picker>
  </body>
</html>
{% endhighlight %}
  </demo-tab>
  <div class="result">
    <editable-color-picker></editable-color-picker>
  </div>
</demo-tabs>
