<link rel="import" href="/samples/components/tk-binding-to-elements.html">

<!-- <link rel="import" href="/elements/demo-tabs.html"> -->

<demo-tabs selectedIndex="0">
  <demo-tab heading="tk-binding-to-elements.html">
{% highlight html %}
{% include_external samples/components/tk-binding-to-elements.html %}
{% endhighlight %}
  </demo-tab>
  <demo-tab heading="index.html">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <script src="platform.js"></script>
    <link rel="import" href="tk-binding-to-elements.html">
  </head>
  <body>
    <tk-binding-to-elements></tk-binding-to-elements>
  </body>
</html>
{% endhighlight %}
  </demo-tab>
</demo-tabs>

<h5>Result</h5>

<tk-binding-to-elements></tk-binding-to-elements>
