<link rel="import" href="/samples/components/tk-element-created.html">

<link rel="import" href="/elements/demo-tabs.html">

<demo-tabs selectedIndex="0">
  <demo-tab heading="tk-element-created.html">
{% highlight html %}
{% include_external samples/components/tk-element-created.html %}
{% endhighlight %}
  </demo-tab>
  <demo-tab heading="index.html">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <script src="platform.js"></script>
    <link rel="import" href="tk-element-created.html">
  </head>
  <body>
    <tk-element-ready></tk-element-ready>
  </body>
</html>
{% endhighlight %}
  </demo-tab>
</demo-tabs>

<h5>Result</h5>

<tk-element-ready></tk-element-ready>
