<link rel="import" href="/samples/components/tk-element-proto.html">

<!-- <link rel="import" href="/elements/demo-tabs.html"> -->

<demo-tabs selectedIndex="0">
  <demo-tab heading="tk-element-proto.html">
{% highlight html %}
{% include_external samples/components/tk-element-proto.html %}
{% endhighlight %}
  </demo-tab>
  <demo-tab heading="index.html">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <script src="platform.js"></script>
    <link rel="import" href="tk-element-proto.html">
  </head>
  <body>
    <tk-element-proto></tk-element-proto>
  </body>
</html>
{% endhighlight %}
  </demo-tab>
</demo-tabs>

<h5>Result</h5>

<tk-element-proto></tk-element-proto>

