<link rel="import" href="/samples/components/tk-element-ready.html">

<div class="row-fluid">
  <div class="span8">
<!-- Tabs -->
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#element10" data-toggle="tab">tk-element-ready.html</a></li>
  <li><a href="#index10" data-toggle="tab">index.html</a></li>
</ul>

<!-- Tab content -->
<div class="tab-content">
  <div class="tab-pane active" id="element10">
{% highlight html %}
{% include_external ../samples/components/tk-element-ready.html%}
{% endhighlight %}
  </div>
  <div class="tab-pane" id="index10">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <script src="toolkit/platform/platform.js"></script>
    <script src="toolkit/toolkit.js"></script>
    <link rel="import" href="tk-element-ready.html">
  </head>
  <body>
    <tk-element-ready></tk-element-ready>
  </body>
</html>
{% endhighlight %}
  </div>
</div>
</div>

<div class="span4">
  <!-- Running sample -->
  <h5>Result</h5>
<div class="well">
  <tk-element-ready></tk-element-ready>
</div>
</div>
</div>