<link rel="import" href="/samples/components/tk-element-public-access.html">

<div class="row-fluid">
  <div class="span8">
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#element11" data-toggle="tab">tk-element-public-access.html</a></li>
  <li><a href="#index11" data-toggle="tab">index.html</a></li>
</ul>

<!-- Tab contents -->
<!-- IDs for each div must match the href value in the tab control above -->
<div class="tab-content">
  <div class="tab-pane active" id="element11">
{% highlight html %}
{% include_external ../samples/components/tk-element-public-access.html %}
{% endhighlight %}
  </div>
  <div class="tab-pane" id="index11">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <script src="toolkit/platform/platform.js"></script>
    <script src="toolkit/toolkit.js"></script>
    <link rel="import" href="tk-element-public-access.html">
  </head>
  <body>
    <div class="well">
      <!-- Make new component and specify values for new public properties. -->
      <tk-element-public-access owner="Scott" color="blue">
      </tk-element-public-access>
      <script>
        window.addEventListener("WebComponentsReady", function() {
          console.log("tk-element-public-access's owner is: " + document.querySelector("tk-element-public-access").owner);
        });
      </script>
    </div>
  </body>
</html>
{% endhighlight %}
  </div>
</div>
</div>


<div class="span4">
  <!-- Running sample -->
  <h5>Result</h5>
<div class="well">
  <tk-element-public-access></tk-element-public-access>
</div>
</div>
</div>

