<link rel="import" href="/samples/components/tk-element-event-binding.html">

<div class="row-fluid">
  <div class="span8">
<!-- Source tabs -->
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#element8" data-toggle="tab">tk-node-finding.html</a></li>
  <li><a href="#index8" data-toggle="tab">index.html</a></li>
</ul>

<!-- Source tab content -->
<div class="tab-content">
  <div class="tab-pane active" id="element8">
{% highlight html %}
{% include_external ../samples/components/tk-node-finding.html %}
{% endhighlight %}
  </div>
  <div class="tab-pane" id="index8">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <script src="toolkit/platform/platform.js"></script>
    <script src="toolkit/toolkit.js"></script>
    <link rel="import" href="tk-element-event-binding.html">
  </head>
  <body>
    <!-- Instantiate custom element -->
    <tk-element-event-binding></tk-element-event-binding>
  </body>
</html>
{% endhighlight %}
  </div>
</div>
</div>

<div class="span4">
  <!-- Running sample -->
  <h5>Result</h5>
<div class="well">
  <tk-element-event-binding owner="Scott" color="blue"></tk-element-event-binding>
</div>
</div>
</div>