<link rel="import" href="/samples/components/tk-element-databinding-color.html">

<!-- tk-element-databinding-color.html -->
<div class="row-fluid">
  <div class="span8">
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#element5" data-toggle="tab">tk-element-databinding-color.html</a></li>
  <li><a href="#index5" data-toggle="tab">index.html</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="element5">
{% highlight html %}
{% include_external ../samples/components/tk-element-databinding-color.html %}
{% endhighlight %}
  </div>
  <div class="tab-pane" id="index5">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <script src="toolkit/platform/platform.js"></script>
    <script src="toolkit/toolkit.js"></script>
    <link rel="import" href="tk-element-databinding-color.html">
  </head>
  <body>
    <tk-element-databinding-color></tk-element-databinding-color>
  </body>
</html>
{% endhighlight %}
  </div>
</div>
</div>

  <div class="span4">
  <h5>Result</h5>
<div class="well">
  <tk-element-databinding-color></tk-element-databinding-color>
</div>
</div>
</div>