{% extends "templates/base-devguide.html" %}
{% block title %}Getting Started{% endblock %}

{% block content %}

<style>
  pre {
    background: white;
  }

  h1 {
    margin-right: 40px;
  }

  .example-code {
    min-width: 60%;
  }

  @media (max-width: 1000px) {
    .example-code {
      width: 100%;
      margin-bottom: 40px;
    }

    /* The devguide has a left nav, which means we need to rejigger
     * the media breakpoints to account for that. */
    section {
      padding: 40px;
    }

    .section-columns {
      display: block;
      flex-direction: column;
    }

    .section-columns > div:not(:last-child),
    .section-columns > p:not(:last-child),
    .section-columns > h2:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 40px;
    }
  }
</style>

<section class="blue short gradient-light">
  <div class="section-columns layout start">
    <h1>Get Started</h1>
    <div class="flex">
      <p>Ready to dive in? You're moments away from building your first element or your first app.</p>
    </div>
  </div>
</section>

<section class="light">
  <div class="section-columns">
    <div class="flex">
      <h2 class="underline">Try Polymer</h2>
      <p>Want to try Polymer 3.x without installing anything?</p>
      <p>Learn how to define elements using ES6 class-based syntax, and add properties and events.</p>
      <a href="/2.0/start/quick-tour" class="blue-button vertical full-width">Try Polymer</a>
    </div>

    <div class="flex">
      <h2 class="underline">Install Polymer 3.x</h2>
      <p>Get started with the new version right away.</p>
      <p>Follow these steps to install the latest versions of our library and tooling, and start building.</p>
      <a href="/2.0/start/install-2-0" class="blue-button vertical full-width">Install Polymer 3.x</a>
    </div>

    <div class="flex">
      <h2 class="underline">Use Elements</h2>
      <p>Get started using Web Components in your apps.</p>
      <p>Visit webcomponents.org for interoperable elements that can be used on any site.</p>
      <a href="https://www.webcomponents.org" target="_blank" class="blue-button vertical full-width">webcomponents.org</a>
    </div>
  </div>
</section>

<section class="grey gradient-light-flipped">

  <div class="subsection">
    <h2>Watch the Polycasts</h2>
    <div class="section-columns example-code">
      <div class="example-code flex">
        <google-youtube video-id="videoseries"
          list-type="playlist"
          list="PLNYkxOF6rcIDdS7HWIC_BYRunV6MHs5xo"
          autoplay="0"
          rel="0">
          </google-youtube>
      </div>
      <div>
        <p>Join Elliott Marquez from the Polymer team and Rob Dodson from the Chrome Developer Relations team for Polycasts, a comprehensive set of videos exploring the ins and outs of Polymer. Start a new Polymer project from scratch, add functionality to your elements, or get a crash course on understanding data binding. Create accessible components, and localize them for your target audience.</p>
        <a href="https://www.youtube.com/playlist?list=PLOU2XLYxmsII5c3Mgw6fNYCzaWrsM3sMN" class="blue-button">Watch more</a>
      </div>
    </div>
  </div>

  <div class="subsection">
    <h2>Get the tools</h2>
    <div class="section-columns">
      <div class="example-code flex">
        <pre><code class="hljs">
npm install -g polymer-cli
mkdir my-app
cd my-app
polymer init
      </code></pre>
      </div>
      <div>
        <p>Polymer CLI is a command-line interface for building elements with Polymer and applications with the Polymer App Toolbox. It streamlines your workflow, making it easy to manage projects ranging from simple components to complex web apps.</p>
        <a href="/2.0/docs/tools/polymer-cli" class="blue-button">Install the CLI</a>
      </div>
    </div>
  </div>

</section>

{% endblock %}
